<!-- Network logos Section -->
<section class=" bg-white py-5 open-form" data-url="/success" >
  <div class="container">
      <h5 class="fm_h text-center text-md-left">Get Accepted On The Top Networks</h5>
    
      <div class="row">
        <div class="col-md-2 mb-2">
          <div class="networks-box">
            <%= image_tag("company/ee.png", class: "network-log" ) %>
          </div>
        </div>
        <div class="col-md-2 mb-2">
          <div class="networks-box">
            <%= image_tag("company/vodafone.png", class: "network-log" ) %>
          </div>
        </div>
        <div class="col-md-2 mb-2">
          <div class="networks-box">
            <%= image_tag("company/id.png", class: "network-log" ) %>
          </div>
        </div>
        <div class="col-md-2 mb-2">
          <div class="networks-box">
            <%= image_tag("company/three.png", class: "network-log" ) %>
          </div>
        </div>
        <div class="col-md-2 mb-2">
          <div class="networks-box">
            <%= image_tag("company/02.png", class: "network-log" ) %>
          </div>
        </div>
        <div class="col-md-2 mb-2">
          <div class="networks-box">
            <%= image_tag("company/tessco.png", class: "network-log" ) %>
          </div>
        </div>
      </div>
  </div>
</section>
