<%= javascript_pack_tag 'e-deals-voxi', 'data-turbolinks-track': 'reload', defer: true %>
<%= render 'layouts/sp-exit/header' %>

<div class="bg-light pt-5">
  <div class="container">
    <div class="position-relative">
      <h3 class="text-dark text-center fs-md-21 fw"> <span class="font-weight-bold text-warning">Great!</span> we have found you an amazing mobile deal. O2 will call you shortly.</h3>
      <h4 class="text-dark text-center fs-md-21 fw d-block d-xl-none"> Did you know that you may not be on the best deal for your energy? See what difference we can make to your energy bills. It takes just <span class="font-weight-bold text-warning">5 seconds</span></h4>
      <h4 class="text-dark text-center fs-md-21 fw d-none d-xl-block"> Did you know that you may not be on the best deal for your energy? <br> See what difference we can make to your energy bills. It takes just <span class="font-weight-bold text-warning">5 seconds</span></h4>
    </div>
    <form class="form" id="dealform" data-details="<%= @details %>">
      <div class="form-group col-lg-10 mx-auto mt-5">
        <div class=" w-100 mx-auto">
          <div class="position-relative mt-2 mt-md-0 col-md-6 mx-auto px-0 px-md-2">
            <input
            name="save-energy"
            class="opacity-0 error-on-button save-energy cursor-p form-control position-absolute input-deals-radio"
            id="save-energy"
            type="radio"
            value="yes">
            <label for="save-energy" class="input-deals font-weight-bold shadow rounded py-2 py-md-3 pl-5 cursor-p">
              Yes, Please tell me more
            </label>
          </div>
          <div class="position-relative mt-4 col-md-6 mx-auto px-0 px-md-2">
            <input
            name="save-energy"
            class="opacity-0 error-on-button save-energy cursor-p form-control position-absolute input-deals-radio"
            id="save-energy-n"
            type="radio"
            value="no">
            <label for="save-energy-n" class="input-deals font-weight-bold shadow rounded py-2 py-md-3 pl-5 cursor-p">
              No, Take me to the mobile deals
            </label>
          </div>
        </div>
      </div>
    </form>
    

  </div>
  <div class="bg-white mt-5 border-top border-bottom">
    <div class="container">
      <div class="row w-100 m-0 align-items-center justify-content-around py-3">
        <%= image_tag("scottishpower.png", class: "brnds-logo", alt: "Scottish Power image") %>
        <%= image_tag("utilita.png", class: "brnds-logo", alt: "Utilita image") %>
        <%= image_tag("Bulb.png", class: "brnds-logo", alt: "Bulb image") %>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/common/footer' %>
