<div class="sim-deal-only" id="dealform" data-details="<%= @details %>">
  <%= javascript_pack_tag 'exclusive_sim_deal', 'data-turbolinks-track': 'reload', defer: true %>
  <%= render 'layouts/sim_deals/header' %>
    <div class="bg-light border-bottom">
      <div class="container">
        <div class="row m-0 w-100 align-items-center justify-content-center py-md-5 py-2">
          <div class="col-lg-8 mx-auto text-center px-0 px-md-3">
            <a href="http://mtrk5.co.uk/?a=14118&c=37733&p=r&s1=<%= params[:s1] %>&s2=<%= params[:s2] %>&s3=<%= params[:s3] %>&s4=<%= params[:s4] %>&s5=<%= params[:s5] %>" class="col-md-6 text-decoration-none text-dark ">
              <div class="div-sim bg-white py-4 open-form">
                <div class="bg-warning shadow w-100 border-bottom border-top">
                  <h2 class="py-3 font-weight-bold m-0 fs-md-24">Get Your SIM Deal, Before The Timer Expires</h2>
                </div>
                <div class="clock"></div>

                <div class="row w-100 m-0 align-items-center my-3">
                  <div class="col-8 text-right text-md-center px-0">
                    <div class="img-div position-relative">
                      <%= image_tag("sim-card.png", class: "sim-img") %>
                      <%= image_tag("price3.png", class: "price-img") %>
                    </div>
                  </div>
                  <div class="col-4 border-left text-center px-1">
                    <div class="text-center">
                      <h4 class="font-weight-bold text-dark fs-md-22">Data</h4>
                      <h5 class="font-weight-bold fs-md-17">8GB</h5>
                    </div>
                    <div class="text-center">
                      <h4 class=" font-weight-bold text-dark fs-md-22">Calls</h4>
                      <h5 class="font-weight-bold fs-md-17">Unlimited</h5>
                    </div>
                    <div class="text-center">
                      <h4 class=" font-weight-bold text-dark fs-md-22">Texts</h4>
                      <h5 class="font-weight-bold fs-md-17">Unlimited</h5>
                    </div>
                  </div>
                </div>
                <div class="row w-100 m-0 align-items-center justify-content-center">
                  <div class="col mx-auto text-center">
                    <ul class="list-unstyled lis-list">
                      <li class="d-flex align-items-center justify-content-start">
                        <i class="far fa-check-circle mr-2 fs-20 text-success"></i>
                        <p class="m-0">5G Ready at no extra cost</p>
                      </li>
                      <li class="d-flex align-items-center justify-content-start">
                        <i class="far fa-check-circle mr-2 fs-20 text-success"></i>
                        <p class="m-0">Personal Hotspot</p>
                      </li>
                      <li class="d-flex align-items-center justify-content-start">
                        <i class="far fa-check-circle mr-2 fs-20 text-success"></i>
                        <p class="m-0">Go Roam Around the World</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="w-95 mx-auto">
                  <button class="btn btn-primary o-btn open-form w-100 hv-50">Get Deal Now!</button>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  <%# render 'layouts/common/network_logos'%>
  <%= render 'layouts/common/footer' %>
  <%= render 'layouts/sim_deals/step_form'%>
</div>

