<%= javascript_pack_tag 'exclusive-iphone-deals', 'data-turbolinks-track': 'reload', defer: true %>

<div id="iphone_deals">
		<a class="navbar-brand w-100 text-center mx-0" href="javascript:;">
		  <%= image_tag("logo.png", class: "open-form w-195 py-2" ) %>
		</a>
	<div class="bg-header">
		<div class="container">
			<div class="row w-100 mx-0 align-items-center justify-content-center py-md-5 position-relative">
				<div class="text-christmas-div position-absolute w-100">
					<h1 class="font-weight-bold text-center glow fs-50">NEW YEAR DEALS</h1>
				</div>
				<div class="col-lg-5 col-md-6 text-center align-self-center">
					<h2 class="font-weight-bold text-center fs-sm-21 pt-5 pt-md-4 mt-4 mt-md-0 ">iPhone 13 Pro Max. Even more Pro</h2>
					<p class="text-center mb-0 fs-15 text-dark">6.7-inch Super Retina XDR display with ProMotion for a faster, more responsive feel</p>
					<p class="text-center fs-15 text-dark">Cinematic mode adds shallow depth of field and shifts focus automatically in your videos</p>
					<%= image_tag("iphone-13/Apple-iPhone-13.png", class: "maxw-100 pt-4" ) %>
					<div class="w-100 text-center mb-4 mb-md-0">
						<button class="btn btn-orang open-form px-md-5 px-4 w-75 font-weight-bold shadow">Get Deal Now</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-light py-md-5">
		<div class="container py-5">
			<div class="row w-100 mx-0 align-items-center justify-content-center">
				<h2 class="w-100 font-weight-bold text-center pb-5 fs-sm-21">Which iPhone is right for you?</h2>
				<div class="col-lg-4 col-md-6">
					<div class="deal-card mb-4 golden-shadow text-center p-md-3 p-2">
						<%= image_tag("iphone-13/iphone-13promax.png", class: "mb-3 ", width: "130" ) %>
						<h4 class="font-weight-bold">iPhone 13 Pro Max</h4>
						<div class="row">
							<div class=" col-xl-6 col-lg-7 col-md-6 col-5 pl-md-4 mx-auto">
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Data</p>
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Text</p>
								<p class="text-left"> <strong>Unlimited</strong> Calls</p>
							</div>
						</div>
						<ul class="list-unstyled text-left">
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									6.7-inch Super Retina XDR display with ProMotion for a faster, more responsive feel
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									Cinematic mode adds shallow depth of field and shifts focus automatically in your videos
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									12MP TrueDepth front camera with Night mode and 4K Dolby Vision HDR recording
								</p>
							</li>
						</ul>
						<button class="btn btn-orang open-form px-md-5 px-4 shadow font-weight-bold">Get Deal</button>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="deal-card mb-4 light-grey-shadow text-center p-md-3 p-2">
						<%= image_tag("iphone-13/iphone-13pro.png", class: "mb-3 ", width: "130" ) %>
						<h4 class="font-weight-bold">iPhone 13 Pro</h4>
						<div class="row">
							<div class=" col-xl-6 col-lg-7 col-md-6 col-5 pl-md-4 mx-auto">
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Data</p>
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Text</p>
								<p class="text-left"> <strong>Unlimited</strong> Calls</p>
							</div>
						</div>
						<ul class="list-unstyled text-left">
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									6.1-inch Super Retina XDR display with ProMotion for a faster, more responsive feel
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									Cinematic mode adds shallow depth of field and shifts focus automatically in your videos
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									Lightning-fast A15 Bionic chip. Durable design and a huge leap in battery life
								</p>
							</li>
						</ul>
						<button class="btn btn-orang open-form font-weight-bold px-md-5 px-4 shadow">Get Deal</button>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="deal-card mb-4 rosegolden-shadow text-center p-md-3 p-2">
						<%= image_tag("iphone-13/iphone-13.png", class: "mb-3 ", width: "124" ) %>
						<h4 class="font-weight-bold">iPhone 13</h4>
						<div class="row">
							<div class=" col-xl-6 col-lg-7 col-md-6 col-5 pl-md-4 mx-auto">
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Data</p>
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Text</p>
								<p class="text-left"> <strong>Unlimited</strong> Calls</p>
							</div>
						</div>
						<ul class="list-unstyled text-left">
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									6.1-inch Super Retina XDR display most advanced dual-camera system ever on iPhone
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									Cinematic mode adds shallow depth of field and shifts focus automatically in your videos
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									A big leap in battery life. Superfast 5G. And a brighter Super Retina XDR display
								</p>
							</li>
						</ul>
						<button class="btn btn-orang open-form font-weight-bold px-md-5 px-4 shadow">Get Deal</button>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="deal-card mb-4 lightblue-shadow text-center p-md-3 p-2">
						<%= image_tag("phone/iphone_12_pacific_blue.png", class: "mb-3 ", width: "124" ) %>
						<h4 class="font-weight-bold">iPhone 12 Pro Max</h4>
						<div class="row">
							<div class=" col-xl-6 col-lg-7 col-md-6 col-5 pl-md-4 mx-auto">
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Data</p>
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Text</p>
								<p class="text-left"> <strong>Unlimited</strong> Calls</p>
							</div>
						</div>
						<ul class="list-unstyled text-left">
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									6.7-inch Super Retina XDR display
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									Ceramic Shield, tougher than any smartphone glass
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									LFirst camera ever to record in Dolby Vision
								</p>
							</li>
						</ul>
						<button class="btn btn-orang open-form font-weight-bold px-md-5 px-4 shadow">Get Deal Now</button>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="deal-card mb-4 light-grey-shadow text-center p-md-3 p-2">
						<%= image_tag("phone/iphone-12-pro.png", class: "mb-3 ", width: "124" ) %>
						<h4 class="font-weight-bold">iPhone 12 Pro</h4>
						<div class="row">
							<div class=" col-xl-6 col-lg-7 col-md-6 col-5 pl-md-4 mx-auto">
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Data</p>
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Text</p>
								<p class="text-left"> <strong>Unlimited</strong> Calls</p>
							</div>
						</div>
						<ul class="list-unstyled text-left">
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									6.1-inch Super Retina XDR display
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									Ceramic Shield, tougher than any smartphone glass
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									Dolby Vision HDR video recording up to 60 fps
								</p>
							</li>
						</ul>
						<button class="btn btn-orang open-form font-weight-bold px-md-5 px-4 shadow">Get Deal Now</button>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="deal-card mb-4 darkblue-shadow text-center p-md-3 p-2">
						<%= image_tag("phone/iphone-12-blue.png", class: "mb-3 ", width: "124" ) %>
						<h4 class="font-weight-bold">iPhone 12</h4>
						<div class="row">
							<div class=" col-xl-6 col-lg-7 col-md-6 col-5 pl-md-4 mx-auto">
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Data</p>
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Text</p>
								<p class="text-left"> <strong>Unlimited</strong> Calls</p>
							</div>
						</div>
						<ul class="list-unstyled text-left">
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									6.1-inch Super Retina XDR display
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									A14 Bionic chip, the fastest chip ever in a smartphone
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									Dolby Vision HDR video recording up to 30 fps
								</p>
							</li>
						</ul>
						<button class="btn btn-orang open-form font-weight-bold px-md-5 px-4 shadow">Get Deal Now</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-blue text-center pt-5">
		<div class="row w-100 mx-0 align-items-center justify-content-center">
			<div class="col-lg-6 col-md-8">
				<h1 class="font-weight-bold pt-md-5 w-100 text-center text-white fs-sm-21">Your New SuperPower</h1>
				<p class="text-center text-white w-100 fs-sm-11">A super-bright display in a durable design. Hollywood-worthy video shooting made easy. A lightning-fast chip. And a big boost in battery life you’ll notice every day</p>
				<button class="btn btn-orang open-form px-md-5 px-4 font-weight-bold shadow mb-md-5">Get Deal Now</button>
			</div>
		</div>
		<%= image_tag("iphone-13/iphone_13banner.png", class: "w-100 mt-5" ) %>
	</div>
	<div class="bg-light">
		<div class="container py-md-5">
			<div class="row w-100 mx-0 justify-content-center">
				<h2 class="w-100 text-center font-weight-bold py-5">There’s no phone like iPhone</h2>
				<div class="col-md-3 mb-3">
					<div class="why-card text-center">
						<%= image_tag("iphone-13/performance.png", class: "mb-3 ", width: "50" ) %>
						<h5>Smart performance</h5>
						<p>Apple-designed chip for speed, power efficiency and intelligence in everything you do.</p>
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<div class="why-card text-center">
						<%= image_tag("iphone-13/privacy.png", class: "mb-3 ", width: "50" ) %>
						<h5>Protects your privacy</h5>
						<p>Every aspect is designed to keep your information private and secure.</p>
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<div class="why-card text-center">
						<%= image_tag("iphone-13/durable.png", class: "mb-3 ", width: "50" ) %>
						<h5>Durable and retains value</h5>
						<p>iPhone is built to last and holds its value longer than other smartphones.</p>
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<div class="why-card text-center">
						<%= image_tag("iphone-13/sustainable.png", class: "mb-3 ", width: "50" ) %>
						<h5>Sustainability</h5>
						<p>iPhone is designed with the environment in mind, using recycled materials.</p>
					</div>
				</div>
				<button class="btn btn-orang open-form px-md-5 px-4 font-weight-bold shadow mt-4 mb-5 mb-md-0">Get Deal Now</button>
			</div>
		</div>
	</div>
	<div class="bg-ios py-md-5">
		<div class="row py-md-5 w-100 mx-0">
			<h1 class="text-center w-100 mt-5 pt-5 font-weight-bold">iOS 15</h1>
			<p class="w-100 text-center fs-20 fs-sm-11">In touch. In the moment.</p>
		</div>
	</div>
<div class="modal fade" id="deal-form-modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content deal-form-bo p-0">
      <div class="modal-body p-0">
        <div id="multi-step-form">
          <div class="row d-flex justify-content-center p-0 mx-0 w-100">
            <div class="col-12 p-0">
              <div class="card card0 border-0">
                <div class="row p-0 mx-0 w-100">
                  <div class="col-12 p-0">
                    <div class="card card00 p-2 border-0">
                      <div class="row text-center justify-content-center px-3 mx-0 w-100">
                        <h3 class="my-4">Get <span class="text-uppercase text-orang">ACCEPTED</span> in just 30 seconds!</h3>
                      </div>
                      <form class="form" id="dealform" data-details="<%= @details %>" method="post" action="javascript:;">
                        <div class="d-flex flex-md-row px-3 mt-4 flex-column-reverse">
                          <div class="col-md-4 p-0 d-none d-md-block">
                            <div class="card1">
                              <ul id="progressbar" class="text-center">
                                <li class="active step0"></li>
                                <li class="step0"></li>
                                <li class="step0"></li>
                                <li class="step0 d-none"></li>
                              </ul>
                              <h6 class="mb-5">Enter your Name</h6>
                              <h6 class="mb-5">Select your Address</h6>
                              <h6 class="mb-5">Get Verified</h6>
                            </div>
                          </div>
                            <div class="col-md-8 p-0">
                              <div class="card2 first-screen show ml-2">
                                <div class="row px-3 mx-0 w-100">
                                  <div class="form-group mt-1 mb-1 col-12 p-0">
                                    <input
                                    name="first_name"
                                    required
                                    data-parsley-required="true"
                                    data-parsley-required-message="Please Enter First Name"
                                    data-parsley-pattern-message="First Name Must Be Alphabetic"
                                    data-parsley-pattern="/^[a-zA-Z ]*$/"
                                    data-parsley-group="block-0"
                                    type="text"
                                    class="first_name form-control bg-transparent"
                                    >
                                    <label class="ml-3 form-control-placeholder" for="email">First Name</label>
                                  </div>
                                </div>
                                <div class="row px-3 mt-3 mb-1 mx-0 w-100">
                                  <div class="form-group mt-1 mb-1 col-12 p-0">
                                    <input
                                    name="last_name"
                                    required
                                    data-parsley-required="true"
                                    data-parsley-required-message="Please Enter Last Name"
                                    data-parsley-pattern-message="First Name Must Be Alphabetic"
                                    data-parsley-pattern="/^[a-zA-Z ]*$/"
                                    data-parsley-group="block-0"
                                    type="text"
                                    class="last_name form-control bg-transparent"
                                    >
                                    <label class="ml-3 form-control-placeholder" for="email">Last Name</label>
                                  </div>
                                </div>
                                <div class="row px-3 mt-1 mb-1 mx-0 w-100 justify-content-center py-3">
                                  <div class="next-button d-flex justify-content-center align-items-center mt-1">
                                    Contiue<span class="fa fa-arrow-right ml-2"></span>
                                  </div>
                                </div>
                              </div>
                              <div class="card2 ml-2">
                                <div class="row px-3 mt-3 mx-0 w-100">
                                  <div class="form-group mt-1 mb-1 col-12 p-0">
                                    <input
                                    name="postcode"
                                    required
                                    data-parsley-required="true"
                                    data-parsley-required-message="Please Enter Postcode"
                                    data-parsley-group="block-1"
                                    data-parsley-validapipostcode
                                    type="text"
                                    class="postcode form-control ignoreStep4 approve bg-transparent"
                                    >
                                    <label class="ml-3 form-control-placeholder" for="pwd">Postcode</label>
                                    <div class="error-checkbox"></div>
                                  </div>
                                </div>
                                <div class="row px-3 mx-0 w-100">
                                  <div class="form-group mt-1 mb-1 col-12 p-0 property-div display-none mt-3">
                                    <input type="hidden" name="towncity" class="towncity" >
                                    <input type="hidden" name="street1" class="street1" >
                                    <input type="hidden" name="county" class="county" >
                                    <input type="hidden" name="houseNumber" class="houseNumber" >
                                    <input type="hidden" name="street2" class="street2" >
                                    <input type="hidden" name="building" class="building" >
                                    <select
                                      id="property"
                                      name="property"
                                      class="property w-100 form-control ignoreStep4 text-dark mb-0"
                                      data-parsley-required="true"
                                      data-parsley-required-message="Please Select Your property"
                                      data-parsley-group="block-1"
                                      required>
                                    </select>
                                  </div>
                                  <div class="form-group col-lg-7 col-12 address-div display-none">
                                    <label class="d-flex justify-content-start  text-black f-25 mb-2">
                                      First Line Of Address
                                    </label>
                                    <input
                                      placeholder="Address"
                                      id="address"
                                      name="address"
                                      class="address form-control ignoreStep4 bg-transparent"
                                      data-parsley-required="true"
                                      data-parsley-required-message="Please Enter Your Address"
                                      data-parsley-group="block-1"
                                      type="text"
                                      >
                                  </div>
                                </div>
                                <div class="row px-3 mt-1 mb-1 mx-0 w-100 justify-content-between flex-row-reverse py-3">
                                  <div class="next-button d-flex justify-content-center align-items-center mt-1 col-8">
                                    Next<span class="fa fa-arrow-right ml-2"></span>
                                  </div>
                                  <div class="prev d-flex justify-content-center align-items-center mt-1 col-3">
                                    <span class="fa fa-arrow-left mr-2"></span>Prev
                                  </div>
                                </div>
                              </div>
                              <div class="card2 ml-2">
                                <div class="row px-3 mx-0 w-100">
                                  <div class="form-group mt-1 mb-1 col-12 p-0">
                                    <input
                                    type="email"
                                    name="email"
                                    required
                                    data-parsley-required="true"
                                    data-parsley-required-message="Please Enter Valid Email Address"
                                    data-parsley-type="email"
                                    data-parsley-type-message="Please Enter Valid Email Address"
                                    data-parsley-group="block-2"
                                    data-parsley-validemail
                                    value=""
                                    class="form-control nme_inpu email bg-transparent"
                                    >
                                    <label class="ml-3 form-control-placeholder" for="email">Email Address</label>
                                  </div>
                                </div>
                                <div class="row px-3 mt-3 mb-1 mx-0 w-100">
                                  <div class="form-group mt-1 mb-1 col-12 p-0">
                                    <input
                                    type="number"
                                    name="telephone"
                                    required
                                    data-parsley-required="true"
                                    data-parsley-required-message="Please Enter Valid Uk Phone Number"
                                    data-parsley-type="number"
                                    data-parsley-group="block-2"
                                    data-parsley-validphone
                                    class="form-control phone telephone bg-transparent"
                                    >
                                    <label class="ml-3 form-control-placeholder" for="email">Mobile Number</label>
                                  </div>
                                </div>
                                <div class="row px-3 mx-0 w-100 mb-1 mt-3">
                                  <div class="form-group mt-1 mb-1 col-12 p-0">
                                    <label>Accept</label>
                                    <div class="onoffswitch">
                                      <input type="hidden" name="c1">
                                      <input
                                        type="checkbox"
                                        name="agree"
                                        class="onoffswitch-checkbox approve"
                                        id="myonoffswitch"
                                        data-parsley-required="true"
                                        data-parsley-group="block-2"
                                        data-parsley-required-message="Please accept our terms and conditions"
                                        >
                                      <label class="onoffswitch-label" for="myonoffswitch">
                                          <span class="onoffswitch-inner"></span>
                                          <span class="onoffswitch-switch"></span>
                                      </label>
                                    </div>
                                    <div class="error-checkbox"></div>
                                    <%= render 'layouts/common/accept_terms'%>
                                  </div>
                                </div>
                                <div class="row px-3 mt-1 mb-1 mx-0 w-100 justify-content-between flex-row-reverse py-3">
                                  <div class="next-button d-flex justify-content-center align-items-center mt-1 col-8">
                                    Submit<span class="fa fa-arrow-right ml-2"></span>
                                  </div>
                                  <div class="prev d-flex justify-content-center align-items-center mt-1 col-3">
                                    <span class="fa fa-arrow-left mr-2"></span>Prev
                                  </div>
                                </div>
                              </div>
                              <div class="card2 ml-2">
                                  <div class="row px-3 mt-2 mb-4 text-center">
                                      <h2 class="col-12 text-danger"><strong>Success !</strong></h2>
                                      <div class="col-12 text-center"><img class="tick" src="https://i.imgur.com/WDI0da4.gif"></div>
                                  </div>
                              </div>
                              <div class="mt-2 text-center securityInfo">
                                <ul>
                                  <%= image_tag("lock.png") %>
                                  <li>Safe</li>
                                  <li>Secure</li>
                                  <li>Privacy Protected</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</div>

<%= render 'layouts/common/waiting_loader' %>
<%= render 'layouts/common/footer' %>
<%= render 'layouts/common/share_domain_iframes' %>
