<%= javascript_pack_tag 'exclusive-iphone-deals', 'data-turbolinks-track': 'reload', defer: true %>

<div id="iphone_deals">
	<div class="bg-header">
		<a class="navbar-brand w-100 text-center mx-0" href="javascript:;">
		  <%= image_tag("logo.png", class: "open-form w-195 py-md-5 pt-2" ) %>
		</a>
		<div class="container">
			<div class="row w-100 mx-0 align-items-center justify-content-center py-md-5">
				<h2 class="w-75 font-weight-bold text-center fs-sm-21">iPhone 13 Pro Max. Even more Pro</h2>
				<p class="small text-center mb-0 w-75 fs-sm-11">6.7-inch Super Retina XDR display with ProMotion for a faster, more responsive feel</p>
				<p class="small text-center w-75 fs-sm-11">Cinematic mode adds shallow depth of field and shifts focus automatically in your videos</p>
				<div class="w-100 text-center">
					<button class="btn btn-orang open-form px-md-5 px-4 font-weight-bold shadow">Get Deal Now</button>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-light py-md-5">
		<div class="container py-5">
			<div class="row w-100 mx-0 align-items-center justify-content-center">
				<h2 class="w-100 font-weight-bold text-center pb-5 fs-sm-21">Which iPhone is right for you?</h2>
				<div class="col-lg-4 col-md-6">
					<div class="deal-card mb-4 golden-shadow text-center p-md-3 p-2">
						<%= image_tag("iphone-13/iphone-13promax.png", class: "mb-3 ", width: "130" ) %>
						<h4 class="font-weight-bold">iPhone 13 Pro Max</h4>
						<div class="row">
							<div class=" col-xl-6 col-lg-7 col-md-6 col-5 pl-md-4 mx-auto">
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Data</p>
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Text</p>
								<p class="text-left"> <strong>Unlimited</strong> Calls</p>
							</div>
						</div>
						<ul class="list-unstyled text-left">
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									6.7-inch Super Retina XDR display with ProMotion for a faster, more responsive feel
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									Cinematic mode adds shallow depth of field and shifts focus automatically in your videos
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									12MP TrueDepth front camera with Night mode and 4K Dolby Vision HDR recording
								</p>
							</li>
						</ul>
						<button class="btn btn-orang open-form px-md-5 px-4 shadow font-weight-bold">Get Deal</button>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="deal-card mb-4 light-grey-shadow text-center p-md-3 p-2">
						<%= image_tag("iphone-13/iphone-13pro.png", class: "mb-3 ", width: "130" ) %>
						<h4 class="font-weight-bold">iPhone 13 Pro</h4>
						<div class="row">
							<div class=" col-xl-6 col-lg-7 col-md-6 col-5 pl-md-4 mx-auto">
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Data</p>
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Text</p>
								<p class="text-left"> <strong>Unlimited</strong> Calls</p>
							</div>
						</div>
						<ul class="list-unstyled text-left">
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									6.1-inch Super Retina XDR display with ProMotion for a faster, more responsive feel
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									Cinematic mode adds shallow depth of field and shifts focus automatically in your videos
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									Lightning-fast A15 Bionic chip. Durable design and a huge leap in battery life
								</p>
							</li>
						</ul>
						<button class="btn btn-orang open-form font-weight-bold px-md-5 px-4 shadow">Get Deal</button>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="deal-card mb-4 rosegolden-shadow text-center p-md-3 p-2">
						<%= image_tag("iphone-13/iphone-13.png", class: "mb-3 ", width: "124" ) %>
						<h4 class="font-weight-bold">iPhone 13</h4>
						<div class="row">
							<div class=" col-xl-6 col-lg-7 col-md-6 col-5 pl-md-4 mx-auto">
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Data</p>
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Text</p>
								<p class="text-left"> <strong>Unlimited</strong> Calls</p>
							</div>
						</div>
						<ul class="list-unstyled text-left">
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									6.1-inch Super Retina XDR display most advanced dual-camera system ever on iPhone
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									Cinematic mode adds shallow depth of field and shifts focus automatically in your videos
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									A big leap in battery life. Superfast 5G. And a brighter Super Retina XDR display
								</p>
							</li>
						</ul>
						<button class="btn btn-orang open-form font-weight-bold px-md-5 px-4 shadow">Get Deal</button>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="deal-card mb-4 lightblue-shadow text-center p-md-3 p-2">
						<%= image_tag("phone/iphone_12_pacific_blue.png", class: "mb-3 ", width: "124" ) %>
						<h4 class="font-weight-bold">iPhone 12 Pro Max</h4>
						<div class="row">
							<div class=" col-xl-6 col-lg-7 col-md-6 col-5 pl-md-4 mx-auto">
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Data</p>
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Text</p>
								<p class="text-left"> <strong>Unlimited</strong> Calls</p>
							</div>
						</div>
						<ul class="list-unstyled text-left">
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									6.7-inch Super Retina XDR display
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									Ceramic Shield, tougher than any smartphone glass
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									LFirst camera ever to record in Dolby Vision
								</p>
							</li>
						</ul>
						<button class="btn btn-orang open-form font-weight-bold px-md-5 px-4 shadow">Get Deal Now</button>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="deal-card mb-4 light-grey-shadow text-center p-md-3 p-2">
						<%= image_tag("phone/iphone-12-pro.png", class: "mb-3 ", width: "124" ) %>
						<h4 class="font-weight-bold">iPhone 12 Pro</h4>
						<div class="row">
							<div class=" col-xl-6 col-lg-7 col-md-6 col-5 pl-md-4 mx-auto">
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Data</p>
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Text</p>
								<p class="text-left"> <strong>Unlimited</strong> Calls</p>
							</div>
						</div>
						<ul class="list-unstyled text-left">
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									6.1-inch Super Retina XDR display
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									Ceramic Shield, tougher than any smartphone glass
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									Dolby Vision HDR video recording up to 60 fps
								</p>
							</li>
						</ul>
						<button class="btn btn-orang open-form font-weight-bold px-md-5 px-4 shadow">Get Deal Now</button>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="deal-card mb-4 darkblue-shadow text-center p-md-3 p-2">
						<%= image_tag("phone/iphone-12-blue.png", class: "mb-3 ", width: "124" ) %>
						<h4 class="font-weight-bold">iPhone 12</h4>
						<div class="row">
							<div class=" col-xl-6 col-lg-7 col-md-6 col-5 pl-md-4 mx-auto">
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Data</p>
								<p class="mb-0 text-left"> <strong>Unlimited</strong> Text</p>
								<p class="text-left"> <strong>Unlimited</strong> Calls</p>
							</div>
						</div>
						<ul class="list-unstyled text-left">
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									6.1-inch Super Retina XDR display
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									A14 Bionic chip, the fastest chip ever in a smartphone
								</p>
							</li>
							<li class="d-flex">
								<i class="fas fa-check-circle mr-2 mt-1"></i>
								<p class="small mb-1">
									Dolby Vision HDR video recording up to 30 fps
								</p>
							</li>
						</ul>
						<button class="btn btn-orang open-form font-weight-bold px-md-5 px-4 shadow">Get Deal Now</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-blue text-center pt-5">
		<div class="row w-100 mx-0 align-items-center justify-content-center">
			<div class="col-lg-6 col-md-8">
				<h1 class="font-weight-bold pt-md-5 w-100 text-center text-white fs-sm-21">Your New SuperPower</h1>
				<p class="text-center text-white w-100 fs-sm-11">A super-bright display in a durable design. Hollywood-worthy video shooting made easy. A lightning-fast chip. And a big boost in battery life you’ll notice every day</p>
				<button class="btn btn-orang open-form px-md-5 px-4 font-weight-bold shadow mb-md-5">Get Deal Now</button>
			</div>
		</div>
		<%= image_tag("iphone-13/iphone_13banner.png", class: "w-100 mt-5" ) %>
	</div>
	<div class="bg-light">
		<div class="container py-md-5">
			<div class="row w-100 mx-0 justify-content-center">
				<h2 class="w-100 text-center font-weight-bold py-5">There’s no phone like iPhone</h2>
				<div class="col-md-3 mb-3">
					<div class="why-card text-center">
						<%= image_tag("iphone-13/performance.png", class: "mb-3 ", width: "50" ) %>
						<h5>Smart performance</h5>
						<p>Apple-designed chip for speed, power efficiency and intelligence in everything you do.</p>
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<div class="why-card text-center">
						<%= image_tag("iphone-13/privacy.png", class: "mb-3 ", width: "50" ) %>
						<h5>Protects your privacy</h5>
						<p>Every aspect is designed to keep your information private and secure.</p>
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<div class="why-card text-center">
						<%= image_tag("iphone-13/durable.png", class: "mb-3 ", width: "50" ) %>
						<h5>Durable and retains value</h5>
						<p>iPhone is built to last and holds its value longer than other smartphones.</p>
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<div class="why-card text-center">
						<%= image_tag("iphone-13/sustainable.png", class: "mb-3 ", width: "50" ) %>
						<h5>Sustainability</h5>
						<p>iPhone is designed with the environment in mind, using recycled materials.</p>
					</div>
				</div>
				<button class="btn btn-orang open-form px-md-5 px-4 font-weight-bold shadow mt-4 mb-5 mb-md-0">Get Deal Now</button>
			</div>
		</div>
	</div>
	<div class="bg-ios py-md-5">
		<div class="row py-md-5 w-100 mx-0">
			<h1 class="text-center w-100 mt-5 pt-5 font-weight-bold">iOS 15</h1>
			<p class="w-100 text-center fs-20 fs-sm-11">In touch. In the moment.</p>
		</div>
	</div>
<%= render 'layouts/exclusive-iphone-deals/step_form'%>
</div>

<%= render 'layouts/common/waiting_loader' %>
<%= render 'layouts/common/footer' %>
<%= render 'layouts/common/share_domain_iframes' %>
