<div class="success-page" id="dealform" data-details="<%= @details %>">
  <%= javascript_pack_tag 'exclusive_top_deals', 'data-turbolinks-track': 'reload', defer: true %>
  <%= render 'layouts/sim_deals/header' %>
    <div class="bg-light border-bottom">
      <div class="container">
        <div class="row m-0 w-100 align-items-center justify-content-center py-md-5 py-2">
          <h2 class="text-center"> <%= params[:firstname]&.capitalize %>, here are the top 3 unbeatable mobile deals for you!</h2>
          <div class="col-lg-6 mx-auto text-center px-0 px-md-3">
            <a href="http://mtrk5.co.uk/?a=14118&c=37733&p=r&s1=<%= params[:s1] %>&s2=<%= params[:s2] %>&s3=<%= params[:s3] %>&s4=<%= params[:s4] %>&s5=<%= params[:s5] %>" class="text-decoration-none ">
              <div class="div-deals bg-white pb-md-3 pb-2 open-form">
                <div class="blue-bg text-white shadow w-100 border-bottom border-top top-text-deal">
                  <h2 class="py-3 font-weight-bold m-0 fs-md-24 fs-sm-22">UK’s Most Popular SIM only Deal</h2>
                </div>
                <div class="row w-100 m-0 align-items-center my-3">
                  <div class="col-5 text-right text-md-center px-0">
                    <div class="img-div position-relative">
                      <%= image_tag("sim-card.png", class: "sim-img") %>
                    </div>
                  </div>
                  <div class="col-7 text-center px-1">
                    <div class="row w-100 m-0 align-items-center">
                      <div class="col-6 px-1 text-center border-right">
                        <i class="fas fa-phone-alt blue-text fs-20 fs-md-17"></i>
                        <h4 class=" font-weight-bold text-dark fs-md-19">Calls</h4>
                        <h5 class="font-weight-bold fs-md-15 text-success">Unlimited</h5>
                      </div>
                      <div class="col-6 px-1 text-center">
                        <i class="fas fa-comments blue-text fs-20 fs-md-17"></i>
                        <h4 class=" font-weight-bold text-dark fs-md-19">Texts</h4>
                        <h5 class="font-weight-bold fs-md-15 text-success">Unlimited</h5>
                      </div>
                    </div>
                    <div class="row w-100 m-0 align-items-center mt-2">
                      <div class="col-6 px-1 text-center border-right">
                        <i class="fas fa-globe blue-text fs-20 fs-md-17"></i>
                        <h4 class="font-weight-bold text-dark fs-md-19">Data</h4>
                        <h5 class="fs-md-17 text-success"><span class="font-weight-bold h4 fs-md-19">8</span>GB</h5>
                      </div>
                      <div class="col-6 px-1 text-center">
                        <i class="fas fa-money-bill-alt blue-text fs-20 fs-md-17"></i>
                        <h4 class="font-weight-bold text-dark fs-md-19">Monthly</h4>
                        <h4 class="font-weight-bold fs-md-19 text-success">£8</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row w-100 m-0 align-items-center justify-content-center py-2 mt-xl-5">
                  <h4 class="text-success fs-md-22">5G READY</h4>
                </div>
                <div class="w-95 mx-auto mt-lg-3">
                  <button class="btn btn-primary o-btn open-form w-100 hv-50">Continue</button>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-6 mx-auto text-center px-0 px-md-3 mt-lg-0 mt-4">
            <a href="http://mtrk5.co.uk/?a=14118&c=38018&p=r&s1=<%= params[:s1] %>&s2=<%= params[:s2] %>&s3=<%= params[:s3] %>&s4=<%= params[:s4] %>&s5=<%= params[:s5] %>" class="text-decoration-none" id="deal-link" >
              <div class="div-deals bg-white pb-md-3 pb-2 open-form">
                <div class="bg-warning text-white shadow w-100 border-bottom border-top top-text-deal">
                  <h2 class="py-3 font-weight-bold m-0 fs-md-24 fs-sm-22">Galaxy S10 128GB</h2>
                </div>
                <div class="row w-100 m-0 align-items-center my-3">
                  <div class="col-5 text-right text-md-center px-0">
                    <div class="img-div position-relative">
                      <%= image_tag("phone/samsungs10.png", class: "s10-img", id: "s10-img") %>
                    </div>
                  </div>
                  <div class="col-7 text-center px-1">
                    <div class="row w-100 m-0 align-items-center">
                      <div class="col-6 px-1 text-center border-right">
                        <i class="fas fa-phone-alt text-warning fs-20 fs-md-17"></i>
                        <h4 class=" font-weight-bold text-dark fs-md-19">Calls</h4>
                        <h5 class="font-weight-bold fs-md-15 text-success">Unlimited</h5>
                      </div>
                      <div class="col-6 px-1 text-center">
                        <i class="fas fa-comments text-warning fs-20 fs-md-17"></i>
                        <h4 class=" font-weight-bold text-dark fs-md-19">Texts</h4>
                        <h5 class="font-weight-bold fs-md-15 text-success">Unlimited</h5>
                      </div>
                    </div>
                    <div class="row w-100 m-0 align-items-center mt-2">
                      <div class="col-6 px-1 text-center border-right">
                        <i class="fas fa-globe text-warning fs-20 fs-md-17"></i>
                        <h4 class="font-weight-bold text-dark fs-md-19">Data</h4>
                        <h5 class="fs-md-17 text-success"><span class="font-weight-bold h4 fs-md-19">100</span>GB</h5>
                      </div>
                      <div class="col-6 px-1 text-center">
                        <i class="fas fa-money-bill-alt text-warning fs-20 fs-md-17"></i>
                        <h4 class="font-weight-bold text-dark fs-md-19">Monthly</h4>
                        <h4 class="font-weight-bold fs-md-19 text-success">£32</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-left px-4">
                  <h5>Pick Your Color</h5>
                </div>
                <div class="row w-100 m-0 align-items-center justify-content-between py-2 px-4">
                  <div class="d-flex justify-content-center align-items-center">
                    <div>
                      <input type="radio" name="color" class="opicity-0 color-box"
                        id="white-color"
                        data-image="<%= asset_path('phone/samsungs10white.png') %>"
                        data-url="http://mtrk5.co.uk/?a=14118&c=38019&p=r&s1=<%= params[:s1] %>&s2=<%= params[:s2] %>&s3=<%= params[:s3] %>&s4=<%= params[:s4] %>&s5=<%= params[:s5] %>"
                        >
                      <label for="white-color">
                        <i class="white"></i>
                      </label>
                    </div>
                    <div>
                      <input type="radio" name="color" class="opicity-0 color-box" id="black-color" checked=""
                        id="black-color"
                        data-image="<%= asset_path('phone/samsungs10.png') %>"
                        data-url="http://mtrk5.co.uk/?a=14118&c=38018&p=r&s1=<%= params[:s1] %>&s2=<%= params[:s2] %>&s3=<%= params[:s3] %>&s4=<%= params[:s4] %>&s5=<%= params[:s5] %>"
                      >
                      <label for="black-color">
                        <i class="black"></i>
                      </label>
                    </div>
                    <div>
                      <input type="radio" name="color" class="opicity-0 color-box"
                        id="green-color"
                        data-image="<%= asset_path('phone/samsungs10green.png') %>"
                        data-url="http://mtrk5.co.uk/?a=14118&c=38020&p=r&s1=<%= params[:s1] %>&s2=<%= params[:s2] %>&s3=<%= params[:s3] %>&s4=<%= params[:s4] %>&s5=<%= params[:s5] %>"
                        >
                      <label for="green-color">
                        <i class="green"></i>
                      </label>
                    </div>
                  </div>
                  <h4 class="fs-md-22"> <span class="text-success h3">£29.00</span> Upfront</h4>
                </div>
                <div class="w-95 mx-auto">
                  <button class="btn btn-primary o-btn open-form w-100 hv-50">Continue</button>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  <%= render 'layouts/common/network_logos'%>
  <%= render 'layouts/common/footer' %>
  <%= render 'layouts/sim_deals/step_form'%>
</div>
