<%= javascript_pack_tag 'mmd_post', 'data-turbolinks-track': 'reload', defer: true %>
<%= render 'layouts/mmd_post/header' %>
<%= render 'layouts/new-mmd/banner' %>
<%= render 'layouts/mmd_post/clock_head' %>
<div class="mt-footer" data-details= "<%= @details %>" ></div>
<%= render 'layouts/common/footer' %>
