<%= render 'layouts/mmd_post/header' %>
<%= render 'layouts/new-mmd/banner' %>
<%= render 'layouts/mmd_post/clock_head' %>
<div class="mt-footer"></div>
<%= render 'layouts/common/footer' %>
<%= render 'layouts/mmd_post/step_form' %>