<%= render 'layouts/new-mmd/header' %>
<%= render 'layouts/new-mmd/banner' %>
<%= render 'layouts/new-mmd/clock_head' %>
<div class="mt-footer"></div>
<%= render 'layouts/common/footer' %>
<%= render 'layouts/common/step_form' %>