<%= javascript_pack_tag 'new_mmd', 'data-turbolinks-track': 'reload', defer: true %>
<%= render 'layouts/new-mmd/header' %>
<%= render 'layouts/new-mmd/banner' %>
<%= render 'layouts/new-mmd/clock_head' %>
<div class="mt-footer" data-details= "<%= @details %>" ></div>
<%= render 'layouts/common/footer' %>
