<%= javascript_pack_tag 'rmktg_sweet', 'data-turbolinks-track': 'reload', defer: true %>
<%= render 'layouts/sp-exit/header' %>
<div id="rmktg-awin" class="atma-fnt">
  <div class="bg-dark-blu" id="dealform" data-details="<%= @details %>">
    <div class="container">
      <div class="row w-100 m-0 align-items-center justify-content-center py-3">
        <h2 class="atma-fnt fw-6 text-white m-0 py-2">100% approval <span class="text-danger">|</span> All Credit Scores Welcome <span class="text-danger">|</span> No upfront payments</h2>
      </div>
    </div>
  </div>
  <div class="bg-light">
    <div class="container">
      <div class="row w-100 m-0 align-items-center justify-content-center py-4">
        <!-- deal 1 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="http://lcuktrack.go2cloud.org/aff_c?offer_id=1&aff_id=1000&url_id=2&aff_sub=rmktg" class="text-decoration-none">
              <div class="deals2 shadow-lg">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4">
                    <h4 class="text-dark fw-100"><span class="fw-6">Cash Back Deal</span> by</h4>
                    <%= image_tag("new-sims/sweet-logo.png", class: "", width: "220" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">500 MB Data</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">500 Min</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <%= image_tag("new-sims/back40.png", class: "my-3", width: "100" ) %>
                  <h4 class="atma-fnt m-0 pt-3 text-primary fw-6">12 Month Plan</h4>
                  <h4 class="atma-fnt m-0 pb-3 text-light-brown fw-6">Cancel Anytime</h4>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> £24</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 2 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="http://lcuktrack.go2cloud.org/aff_c?offer_id=1&aff_id=1000&url_id=2&aff_sub=rmktg" class="text-decoration-none">
              <div class="deals2 shadow-lg">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4">
                    <h4 class="text-dark fw-100"><span class="fw-6">Cash Back Deal</span> by</h4>
                    <%= image_tag("new-sims/sweet-logo.png", class: "", width: "220" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">10 GB Data</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <%= image_tag("new-sims/back55.png", class: "my-3", width: "100" ) %>
                  <h4 class="atma-fnt m-0 pt-3 text-primary fw-6">12 Month Plan</h4>
                  <h4 class="atma-fnt m-0 pb-3 text-light-brown fw-6">Cancel Anytime</h4>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> £33</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 3 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="http://lcuktrack.go2cloud.org/aff_c?offer_id=1&aff_id=1000&url_id=4&aff_sub=rmktg" class="text-decoration-none">
              <div class="deals2 shadow-lg">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4">
                    <h4 class="text-dark fw-100"><span class="fw-6">Sim Only Deal</span> by</h4>
                    <%= image_tag("new-sims/sweet-logo.png", class: "", width: "220" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">Coverage by O2</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <%= image_tag("new-sims/10gb.png", class: "my-3", width: "100" ) %>
                  <h4 class="atma-fnt m-0 pt-3 text-primary fw-6">12 Month Contract</h4>
                  <h5 class="atma-fnt m-0 pb-3 text-light-brown fw-6">Great UK Coverage Using O2</h5>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> £26</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 4 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="http://lcuktrack.go2cloud.org/aff_c?offer_id=1&aff_id=1000&url_id=4&aff_sub=rmktg" class="text-decoration-none">
              <div class="deals2 shadow-lg">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4">
                    <h4 class="text-dark fw-100"><span class="fw-6">Sim Only Deal</span> by</h4>
                    <%= image_tag("new-sims/sweet-logo.png", class: "", width: "220" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">Coverage by O2</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <%= image_tag("new-sims/100gb.png", class: "my-3", width: "100" ) %>
                  <h4 class="atma-fnt m-0 pt-3 text-primary fw-6">12 Month Contract</h4>
                  <h5 class="atma-fnt m-0 pb-3 text-light-brown fw-6">Great UK Coverage Using O2</h5>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> £31</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 5 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="http://lcuktrack.go2cloud.org/aff_c?offer_id=1&aff_id=1000&url_id=4&aff_sub=rmktg" class="text-decoration-none">
              <div class="deals2 shadow-lg">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4">
                    <h4 class="text-dark fw-100"><span class="fw-6">Sim Only Deal</span> by</h4>
                    <%= image_tag("new-sims/sweet-logo.png", class: "", width: "220" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">Coverage using O2</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <%= image_tag("new-sims/unlimted.png", class: "my-3", width: "100" ) %>
                  <h4 class="atma-fnt m-0 pt-3 text-primary fw-6">12 Month Contract</h4>
                  <h5 class="atma-fnt m-0 pb-3 text-light-brown fw-6">Great UK Coverage Using O2</h5>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> £32</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 6 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="http://lcuktrack.go2cloud.org/aff_c?offer_id=1&aff_id=1000&aff_sub=rmktg" class="text-decoration-none">
              <div class="deals2 shadow-lg">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4">
                    <h4 class="text-dark fw-100"><span class="fw-6">Samsung S20</span> by</h4>
                    <%= image_tag("new-sims/sweet-logo.png", class: "", width: "220" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">£10 Upfront</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <%= image_tag("new-sims/sams20.png", class: "", width: "90" ) %>
                  <h4 class="atma-fnt m-0 pt-3 text-primary fw-6">12 Month Contract</h4>
                  <h5 class="atma-fnt m-0 text-light-brown fw-6">£10 for airtime plus</h5>
                  <h5 class="atma-fnt m-0 pb-3 text-light-brown fw-6">£85 phone finance</h5>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Only <span class="font-weight-bold h1"> £95</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 7 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="http://lcuktrack.go2cloud.org/aff_c?offer_id=1&aff_id=1000&aff_sub=rmktg" class="text-decoration-none">
              <div class="deals2 shadow-lg">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4">
                    <h4 class="text-dark fw-100"><span class="fw-6">Samsung A10</span> by</h4>
                    <%= image_tag("new-sims/sweet-logo.png", class: "", width: "220" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">£11 Upfront</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <%= image_tag("new-sims/sama10.png", class: "", width: "90" ) %>
                  <h4 class="atma-fnt m-0 pt-3 text-primary fw-6">12 Month Contract</h4>
                  <h5 class="atma-fnt m-0 text-light-brown fw-6">£11 for airtime plus</h5>
                  <h5 class="atma-fnt m-0 pb-3 text-light-brown fw-6">£50 phone finance</h5>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Only <span class="font-weight-bold h1"> £61</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 8 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="http://lcuktrack.go2cloud.org/aff_c?offer_id=1&aff_id=1000&aff_sub=rmktg" class="text-decoration-none">
              <div class="deals2 shadow-lg">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4">
                    <h4 class="text-dark fw-100"><span class="fw-6">iPhone 6S</span> by</h4>
                    <%= image_tag("new-sims/sweet-logo.png", class: "", width: "220" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">£10 Upfront</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <%= image_tag("new-sims/is6.png", class: "", width: "90" ) %>
                  <h4 class="atma-fnt m-0 pt-3 text-primary fw-6">12 Month Contract</h4>
                  <h5 class="atma-fnt m-0 text-light-brown fw-6">£10 for airtime plus</h5>
                  <h5 class="atma-fnt m-0 pb-3 text-light-brown fw-6">£51 phone finance</h5>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Only <span class="font-weight-bold h1"> £61</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="row w-100 m-0 align-items-center justify-content-center py-3 bg-dark-blu">
    <div class="col-md-4 text-center red-border">
      <%= image_tag("new-sims/cross.png", class: "mb-2", width: "60" ) %>
      <h3 class="atma-fnt text-light">Commitment-free plans</h3>
    </div>
    <div class="col-md-4 text-center red-border mt-4 mt-md-0">
      <%= image_tag("new-sims/circle.png", class: "mb-2", width: "60" ) %>
      <h3 class="atma-fnt text-white">Truly unlimited calls & texts</h3>
    </div>
    <div class="col-md-4 text-center mt-4 mt-md-0">
      <%= image_tag("new-sims/tick.svg", class: "mb-2", width: "60" ) %>
      <h3 class="atma-fnt text-light">Cash back deals</h3>
    </div>
  </div>
</div>

<%= render 'layouts/common/footer' %>
