<%= javascript_pack_tag 'rmktg_awin', 'data-turbolinks-track': 'reload', defer: true %>
<%= render 'layouts/sp-exit/header' %>
<div id="rmktg-awin" class="atma-fnt">
  <div class="bg-dark-blu" id="dealform" data-details="<%= @details %>">
    <div class="container">
      <div class="row w-100 m-0 align-items-center justify-content-center py-3">
        <div class="col-md-4 text-center">
          <div class="row align-items-center justify-content-around">
            <h3 class="text-white atma-fnt mb-0">Data Discount Plans</h5>
            <%= image_tag("new-sims/plus.png", class: " bg-alice", width: "40" ) %>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <h1 class="text-white atma-fnt fw-6 mb-0">UNLIMITED</h2>
        </div>
        <div class="col-md-4 text-center">
          <div class="row align-items-center justify-content-around">
            <h3 class="text-white atma-fnt mx-4 mb-0">Calls, Texts</h5>
            <%= image_tag("new-sims/emoji-talking.png", class: "", width: "85" ) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light-blu">
    <div class="container">
      <div class="row w-100 m-0 align-items-center justify-content-center py-4">
        <!-- deal 1 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="https://www.awin1.com/pclick.php?p=25795065819&a=652417&m=10933&clickref=rmktg" class="text-decoration-none">
              <div class="deal">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4 bg-light-brown">
                    <h4 class="text-white fw-100"><span class="fw-6">SMARTY</span> by</h4>
                    <%= image_tag("new-sims/smarty.png", class: "", width: "180" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">30 GB Data</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <h4 class="atma-fnt text-primary m-0">Across UK</h4>
                  <h4 class="atma-fnt m-0 pt-3 text-primary fw-6">1 Month Plan</h4>
                  <h4 class="atma-fnt m-0 pb-3 text-light-brown fw-6">Cancel Anytime</h4>

                  <h4 class="m-0 pt-2 atma-fnt text-primary fw-6">Easy Network Switching</h4>
                  <div class="row w-100 m-0 py-3 align-items-center justify-content-center">
                    <%= image_tag("new-sims/wing.png", class: "", width: "80" ) %>
                  </div>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> 10£</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 2 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="https://www.awin1.com/pclick.php?p=26582797463&a=652417&m=6535&clickref=rmktg" class="text-decoration-none">
              <div class="deal">
                <div class="bg-white">
                  <div class="div-plusnet py-3 bg-purple">
                    <%= image_tag("new-sims/plusnet-1.png", class: "", width: "145" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">10 GB Data</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h4 class="atma-fnt text-primary m-0">2GB Bonus</h4>
                  <h5 class="atma-fnt text-purple m-0">for broadband customers</h5>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <h4 class="atma-fnt m-0 py-3 text-primary fw-6">1 Month Plan</h4>

                  <h4 class="m-0 pt-2 atma-fnt text-primary fw-6">Switching to us is simple</h4>
                  <div class="row w-100 m-0 py-3 align-items-center justify-content-center">
                    <%= image_tag("new-sims/wing.png", class: "", width: "80" ) %>
                  </div>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> 10£</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 3 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="https://www.awin1.com/cread.php?awinmid=10951&awinaffid=652417&clickref=rmktg&ued=https%3A%2F%2Fwww.voxi.co.uk%2Fplans" class="text-decoration-none">
              <div class="deal">
                <div class="bg-white">
                  <div class="div-voxi py-3 bg-dark-brow">
                    <%= image_tag("new-sims/voxi.jpg", class: "", width: "120" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">45 GB Data</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h4 class="atma-fnt text-primary m-0">Endless social Media</h4>
                  <%= image_tag("new-sims/social.png", class: "my-2 social-img", width: "200" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <h4 class="atma-fnt m-0 py-3 text-primary fw-6">No Contract</h4>

                  <h4 class="m-0 pt-2 atma-fnt text-primary fw-6">Endless Roaming in Europe</h4>
                  <div class="row w-100 m-0 align-items-center justify-content-end">
                    <%= image_tag("new-sims/ewns.png", class: "mr-3 mb-4 mt-24", width: "80" ) %>
                  </div>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> 20£</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 4 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="https://www.awin1.com/pclick.php?p=25795065815&a=652417&m=10933&clickref=rmktg" class="text-decoration-none">
              <div class="deal">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4 bg-light-brown">
                    <h4 class="text-white fw-100"><span class="fw-6">SMARTY</span> by</h4>
                    <%= image_tag("new-sims/smarty.png", class: "", width: "180" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">4 GB Data</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <h4 class="atma-fnt text-primary m-0">Across UK</h4>

                  <h4 class="atma-fnt m-0 pt-3 text-primary fw-6">Money back</h4>
                  <h4 class="atma-fnt m-0 pb-3 text-light-brown fw-6">Up to £4 per month</h4>

                  <h4 class="m-0 pt-2 atma-fnt text-primary fw-6">Easy Network Switching</h4>
                  <div class="row w-100 m-0 py-3 align-items-center justify-content-center">
                    <%= image_tag("new-sims/wing.png", class: "", width: "80" ) %>
                  </div>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> 9£</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 5 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="https://www.awin1.com/pclick.php?p=26556656813&a=652417&m=10933&clickref=rmktg" class="text-decoration-none">
              <div class="deal">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4 bg-light-brown">
                    <h4 class="text-white fw-100"><span class="fw-6">SMARTY</span> by</h4>
                    <%= image_tag("new-sims/smarty.png", class: "", width: "180" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">50 GB Data</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <h4 class="atma-fnt text-primary m-0">Across UK</h4>
                  <h4 class="atma-fnt m-0 pt-3 text-primary fw-6">1 Month Plan</h4>
                  <h4 class="atma-fnt m-0 pb-3 text-light-brown fw-6">Cancel Anytime</h4>

                  <h4 class="m-0 pt-2 atma-fnt text-primary fw-6">Easy Network Switching</h4>
                  <div class="row w-100 m-0 py-3 align-items-center justify-content-center">
                    <%= image_tag("new-sims/wing.png", class: "", width: "80" ) %>
                  </div>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> 15£</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 6 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="https://www.awin1.com/pclick.php?p=26582797459&a=652417&m=6535&clickref=rmktg" class="text-decoration-none">
              <div class="deal">
                <div class="bg-white">
                  <div class="div-plusnet py-3 bg-purple">
                    <%= image_tag("new-sims/plusnet-1.png", class: "", width: "145" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">5 GB Data</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h4 class="atma-fnt text-primary m-0">2GB Bonus</h4>
                  <h5 class="atma-fnt text-purple m-0">for broadband customers</h5>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <h4 class="atma-fnt m-0 py-3 text-primary fw-6">1 Month Plan</h4>

                  <h4 class="m-0 pt-2 atma-fnt text-primary fw-6">Switching to us is simple</h4>
                  <div class="row w-100 m-0 py-3 align-items-center justify-content-center">
                    <%= image_tag("new-sims/wing.png", class: "", width: "80" ) %>
                  </div>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> 8£</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 7 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="https://www.awin1.com/cread.php?awinmid=10951&awinaffid=652417&clickref=rmktg&ued=https%3A%2F%2Fwww.voxi.co.uk%2Fplans" class="text-decoration-none">
              <div class="deal">
                <div class="bg-white">
                  <div class="div-voxi py-3 bg-dark-brow">
                    <%= image_tag("new-sims/voxi.jpg", class: "", width: "120" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">15 GB Data</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h4 class="atma-fnt text-primary m-0">Endless social Media</h4>
                  <%= image_tag("new-sims/social.png", class: "my-2 social-img", width: "200" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <h4 class="atma-fnt m-0 py-3 text-primary fw-6">No Contract</h4>

                  <h4 class="m-0 pt-2 atma-fnt text-primary fw-6">Endless Roaming in Europe</h4>
                  <div class="row w-100 m-0 align-items-center justify-content-end">
                    <%= image_tag("new-sims/ewns.png", class: "mr-3 mb-4 mt-24", width: "80" ) %>
                  </div>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> 15£</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 8 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="https://www.awin1.com/pclick.php?p=25795065813&a=652417&m=10933&clickref=rmktg" class="text-decoration-none">
              <div class="deal">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4 bg-light-brown">
                    <h4 class="text-white fw-100"><span class="fw-6">SMARTY</span> by</h4>
                    <%= image_tag("new-sims/smarty.png", class: "", width: "180" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">2 GB Data</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <h4 class="atma-fnt text-primary m-0">Across UK</h4>
                  <h4 class="atma-fnt m-0 pt-3 text-primary fw-6">Money back</h4>
                  <h4 class="atma-fnt m-0 pb-3 text-light-brown fw-6">Up to £2 per month</h4>

                  <h4 class="m-0 pt-2 atma-fnt text-primary fw-6">Easy Network Switching</h4>
                  <div class="row w-100 m-0 py-3 align-items-center justify-content-center">
                    <%= image_tag("new-sims/wing.png", class: "", width: "80" ) %>
                  </div>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> 7£</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 9 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="https://www.awin1.com/pclick.php?p=25795065823&a=652417&m=10933&clickref=rmktg" class="text-decoration-none">
              <div class="deal">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4 bg-light-brown">
                    <h4 class="text-white fw-100"><span class="fw-6">SMARTY</span> by</h4>
                    <%= image_tag("new-sims/smarty.png", class: "", width: "180" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">3 GB Data</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <h4 class="atma-fnt text-primary m-0">Across UK</h4>
                  <h4 class="atma-fnt m-0 pt-3 text-primary fw-6">Money back</h4>
                  <h4 class="atma-fnt m-0 pb-3 text-light-brown fw-6">Up to £3 per month</h4>

                  <h4 class="m-0 pt-2 atma-fnt text-primary fw-6">Easy Network Switching</h4>
                  <div class="row w-100 m-0 py-3 align-items-center justify-content-center">
                    <%= image_tag("new-sims/wing.png", class: "", width: "80" ) %>
                  </div>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> 8£</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 10 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="https://www.awin1.com/pclick.php?p=26582797455&a=652417&m=6535&clickref=rmktg" class="text-decoration-none">
              <div class="deal">
                <div class="bg-white">
                  <div class="div-plusnet py-3 bg-purple">
                    <%= image_tag("new-sims/plusnet-1.png", class: "", width: "145" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">2 GB Data</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h4 class="atma-fnt text-primary m-0">2GB Bonus</h4>
                  <h5 class="atma-fnt text-purple m-0">for broadband customers</h5>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <h4 class="atma-fnt m-0 py-3 text-primary fw-6">1 Month Plan</h4>

                  <h4 class="m-0 pt-2 atma-fnt text-primary fw-6">Switching to us is simple</h4>
                  <div class="row w-100 m-0 py-3 align-items-center justify-content-center">
                    <%= image_tag("new-sims/wing.png", class: "", width: "80" ) %>
                  </div>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> 6£</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 11 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="https://www.awin1.com/cread.php?awinmid=10951&awinaffid=652417&clickref=rmktg&ued=https%3A%2F%2Fwww.voxi.co.uk%2Fplans" class="text-decoration-none">
              <div class="deal">
                <div class="bg-white">
                  <div class="div-voxi py-3 bg-dark-brow">
                    <%= image_tag("new-sims/voxi.jpg", class: "", width: "120" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">6 GB Data</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h4 class="atma-fnt text-primary m-0">Endless social Media</h4>
                  <%= image_tag("new-sims/social.png", class: "my-2 social-img", width: "200" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <h4 class="atma-fnt m-0 py-3 text-primary fw-6">No Contract</h4>

                  <h4 class="m-0 pt-2 atma-fnt text-primary fw-6">Endless Roaming in Europe</h4>
                  <div class="row w-100 m-0 align-items-center justify-content-end">
                    <%= image_tag("new-sims/ewns.png", class: "mr-3 mb-4 mt-24", width: "80" ) %>
                  </div>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> 10£</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 12 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="https://www.awin1.com/pclick.php?p=25795065817&a=652417&m=10933&clickref=rmktg" class="text-decoration-none">
              <div class="deal">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4 bg-light-brown">
                    <h4 class="text-white fw-100"><span class="fw-6">SMARTY</span> by</h4>
                    <%= image_tag("new-sims/smarty.png", class: "", width: "180" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">1 GB Data</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <h4 class="atma-fnt text-primary m-0">Across UK</h4>
                  <h4 class="atma-fnt m-0 pt-3 text-primary fw-6">Money back</h4>
                  <h4 class="atma-fnt m-0 pb-3 text-light-brown fw-6">Up to £1 per month</h4>

                  <h4 class="m-0 pt-2 atma-fnt text-primary fw-6">Easy Network Switching</h4>
                  <div class="row w-100 m-0 py-3 align-items-center justify-content-center">
                    <%= image_tag("new-sims/wing.png", class: "", width: "80" ) %>
                  </div>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> 6£</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="row w-100 m-0 align-items-center justify-content-center py-3 bg-dark-blu">
    <div class="col-md-4 text-center red-border">
      <%= image_tag("new-sims/cross.png", class: "mb-2", width: "60" ) %>
      <h3 class="atma-fnt text-light">Commitment-free SIM plans</h3>
    </div>
    <div class="col-md-4 text-center red-border mt-4 mt-md-0">
      <%= image_tag("new-sims/circle.png", class: "mb-2", width: "60" ) %>
      <h3 class="atma-fnt text-white">Truly unlimited calls & texts</h3>
    </div>
    <div class="col-md-4 text-center mt-4 mt-md-0">
      <%= image_tag("new-sims/tick.svg", class: "mb-2", width: "60" ) %>
      <h3 class="atma-fnt text-light">Keep your number</h3>
    </div>
  </div>
</div>

<%= render 'layouts/common/footer' %>
