
<%= render 'layouts/sp-exit/header' %>
<div id="rmktg-awin" class="atma-fnt">
  <div class="bg-dark-blu">
    <div class="container">
      <div class="row w-100 m-0 align-items-center justify-content-center py-3">
        <h3 class="text-white atma-fnt mb-0">Data Discount Plans</h5>
        <%= image_tag("new-sims/plus.png", class: "d-none d-lg-block mx-4", width: "40" ) %>
        <h1 class="text-white atma-fnt fw-6 mb-0">UNLIMITED</h2>
        <h3 class="text-white atma-fnt mx-4 mb-0">Calls, Texts</h5>
        <%= image_tag("new-sims/emoji-talking.png", class: "d-none d-lg-block", width: "85" ) %>
      </div>
    </div>
  </div>
  <div class="bg-light-blu">
    
  </div>
  
</div>




<%= render 'layouts/credit-report/network_logos' %>
<%= render 'layouts/common/footer' %>
