<%= javascript_pack_tag 'smartphones', 'data-turbolinks-track': 'reload', defer: true %>
<div id="smart-phones">
  <div class="bg-strip text-white">
    <%= render 'layouts/smartphones/top-section' %>
    <div class="container my-5 smart-body">
      <%= render 'layouts/smartphones/first-section' %>
      <%= render 'layouts/smartphones/second-section' %>
      <%= render 'layouts/smartphones/third-section' %>
    </div>
    <%= render 'layouts/smartphones/network-logos' %>
    <%= render 'layouts/smartphones/footer' %>
    <%= render 'layouts/smartphones/form' %>
  </div>
</div>