<%= javascript_pack_tag 'social', 'data-turbolinks-track': 'reload', defer: true %>
<div id="new-social-page">
  <%= render 'layouts/noscript/home' %>
  <%= render 'layouts/social/header' %>
  <%= render 'layouts/social/banner' %>
  <%= render 'layouts/social/network_logos' %>
  <%= render 'layouts/social/call_to_action' %>
  <%= render 'layouts/social/usps' %>
  <%= render 'layouts/social/services' %>
  <%= render 'layouts/social/step_form'%>
  <%= render 'layouts/common/waiting_loader' %>
  <%= render 'layouts/social/footer' %>
  <%= render 'layouts/common/share_domain_iframes' %>
</div>
