<%= javascript_pack_tag 'sp-exit', 'data-turbolinks-track': 'reload', defer: true %>
<%= render 'layouts/sp-exit/header' %>
<div id="loans-page">
  <section class="bg-blue-gradient py-5 px-md-3 px-0 position-relative">
    <div class="pink-circle d-md-block d-none"></div>
    <div class="light-blue-circle"></div>
    <div class="container">
    <h3 class="text-warning text-center fs-md-21 fw"> <span class="font-weight-bold">Great!</span> we have found you an amazing mobile deal. It is waiting for you on the next page.</h3>
    <h4 class="text-warning text-center fs-md-21 fw">We can also get you a <span class="font-weight-bold">cheaper energy tariff</span> , to see how much you can save enter the details below.</h4>
    <div class="text-center z-high">
      <p class="text-center text-white m-0">No I do not want to save money on my energy bills, <br> </p>
      <a href="https://mtrk5.co.uk/?a=14118&c=33110&s1=<%= params[:s1] %>&s2=<%= params[:s2] %>&s3=<%= params[:s3] %>&s4=<%= params[:s4] %>&s5=<%= params[:s5] %>" class="text-center text-warning"> <u>Take me to the mobile deals only</u></a> 
    </div>
    <div class="row w-100 m-0 align-items-center justify-content-center position-relative z-index-6">
        <!-- form -->
      <div class="col-md-10 mt-5 mx-auto px-0 px-md-3">
        <div class="bg-light-blue py-3 px-md-4 px-2 form-div">
          <form
            id="energyform"
            class="mb-3 text-center"
            data-details="<%= @details %>"
            data-parsley-validate="">
            <div class="tab text-center">
              <label class="d-flex justify-content-center py-2 h5 font-weight-bold f-25">Who's your current Energy provider?</label>
              <div class="row mt-4 mb-md-1 mb-0 justify-content-center form-group">
                <div class="w-radio position-relative mt-2 mt-md-0">
                  <input
                  name="energy-provider"
                  class="opacity-0 error-on-button energy-provider input-energy cursor-p form-control"
                  id="energy-provider"
                  data-parsley-group="block-0"
                  data-parsley-required="true"
                  data-parsley-required-message="Please select one company"
                  type="radio"
                  value="British Gas"
                  data-parsley-multiple="energy-provider">
                  <label for="energy-provider" class="input-radio shadow rounded p-2 cursor-p">
                    <div class="iconic-and-text">
                      <div class="image-box rounded-top bg-white p-2">
                        <%= image_tag("british-gas.png", class: "", width:'85px', height:'40px' ) %>
                      </div>
                      <div class="mt-2">
                        <p class="text-center mb-0 text-label">British Gas</p>
                      </div>
                    </div>
                  </label>
                </div>
                <div class="w-radio position-relative mt-2 mt-md-0">
                  <input
                  name="energy-provider"
                  class="opacity-0 error-on-button energy-provider input-energy cursor-p form-control"
                  id="energy-provider-edf"
                  data-parsley-group="block-0"
                  data-parsley-required="true"
                  data-parsley-required-message="Please select one company"
                  type="radio"
                  value="EDF"
                  data-parsley-multiple="energy-provider">
                  <label for="energy-provider-edf" class="input-radio shadow rounded p-2 cursor-p">
                    <div class="iconic-and-text">
                      <div class="image-box rounded-top bg-white p-2">
                        <%= image_tag("edf.png", class: "", width:'85px', height:'40px' ) %>
                      </div>
                      <div class="mt-2">
                        <p class="text-center mb-0 text-label">EDF</p>
                      </div>
                    </div>
                  </label>
                </div>
                <div class="w-radio position-relative mt-2 mt-md-0">
                  <input
                  name="energy-provider"
                  class="opacity-0 error-on-button energy-provider input-energy cursor-p form-control"
                  id="energy-provider-eon"
                  data-parsley-group="block-0"
                  data-parsley-required="true"
                  data-parsley-required-message="Please select one company"
                  type="radio"
                  value="EON"
                  data-parsley-multiple="energy-provider">
                  <label for="energy-provider-eon" class="input-radio shadow rounded p-2 cursor-p">
                    <div class="iconic-and-text">
                      <div class="image-box rounded-top bg-white p-2">
                        <%= image_tag("eon-logo.png", class: "", width:'85px', height:'40px' ) %>
                      </div>
                      <div class="mt-2">
                        <p class="text-center mb-0 text-label">EON</p>
                      </div>
                    </div>
                  </label>
                </div>
                <div class="w-radio position-relative mt-2 mt-md-0">
                  <input
                  name="energy-provider"
                  class="opacity-0 error-on-button energy-provider input-energy cursor-p form-control"
                  id="energy-provider-npower"
                  data-parsley-group="block-0"
                  data-parsley-required="true"
                  data-parsley-required-message="Please select one company"
                  type="radio"
                  value="npower"
                  data-parsley-multiple="energy-provider">
                  <label for="energy-provider-npower" class="input-radio shadow rounded p-2 cursor-p">
                    <div class="iconic-and-text">
                      <div class="image-box rounded-top bg-white p-2">
                        <%= image_tag("npower.png", class: "", width:'85px', height:'40px' ) %>
                      </div>
                      <div class="mt-2">
                        <p class="text-center mb-0 text-label">npower</p>
                      </div>
                    </div>
                  </label>
                </div>
                <div class="w-radio position-relative mt-2 mt-md-0">
                  <input
                  name="energy-provider"
                  class="opacity-0 error-on-button energy-provider input-energy cursor-p form-control"
                  id="energy-provider-shell"
                  data-parsley-group="block-0"
                  data-parsley-required="true"
                  data-parsley-required-message="Please select one company"
                  type="radio"
                  value="Shell Energy"
                  data-parsley-multiple="energy-provider">
                  <label for="energy-provider-shell" class="input-radio shadow rounded p-2 cursor-p">
                    <div class="iconic-and-text">
                      <div class="image-box rounded-top bg-white p-2">
                        <%= image_tag("Shell-Energy.png", class: "", width:'85px', height:'40px' ) %>
                      </div>
                      <div class="mt-2">
                        <p class="text-center mb-0 text-label">Shell Energy</p>
                      </div>
                    </div>
                  </label>
                </div>
                <div class="w-radio position-relative mt-2 mt-md-0">
                  <input
                  name="energy-provider"
                  class="opacity-0 error-on-button energy-provider input-energy cursor-p form-control"
                  id="energy-provider-octopus"
                  data-parsley-group="block-0"
                  data-parsley-required="true"
                  data-parsley-required-message="Please select one company"
                  type="radio"
                  value="Octopus"
                  data-parsley-multiple="energy-provider">
                  <label for="energy-provider-octopus" class="input-radio shadow rounded p-2 cursor-p">
                    <div class="iconic-and-text">
                      <div class="image-box rounded-top bg-white p-2">
                        <%= image_tag("Octopus.png", class: "", width:'85px', height:'40px' ) %>
                      </div>
                      <div class="mt-2">
                        <p class="text-center mb-0 text-label">Octopus</p>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="row justify-content-center form-group">
                <div class="w-radio position-relative mt-2 mt-md-0">
                  <input
                  name="energy-provider"
                  class="opacity-0 error-on-button energy-provider input-energy cursor-p form-control"
                  id="energy-provider-sp"
                  data-parsley-group="block-0"
                  data-parsley-required="true"
                  data-parsley-required-message="Please select one company"
                  type="radio"
                  value="Scotish Power"
                  data-parsley-multiple="energy-provider">
                  <label for="energy-provider-sp" class="input-radio shadow rounded p-2 cursor-p">
                    <div class="iconic-and-text">
                      <div class="image-box rounded-top bg-white p-2">
                        <%= image_tag("scottishpower.png", class: "", width:'85px', height:'40px' ) %>
                      </div>
                      <div class="mt-2">
                        <p class="text-center mb-0 text-label">Scotish Power</p>
                      </div>
                    </div>
                  </label>
                </div>
                <div class="w-radio position-relative mt-2 mt-md-0">
                  <input
                  name="energy-provider"
                  class="opacity-0 error-on-button energy-provider input-energy cursor-p form-control"
                  id="energy-provider-spark"
                  data-parsley-group="block-0"
                  data-parsley-required="true"
                  data-parsley-required-message="Please select one company"
                  type="radio"
                  value="Spark"
                  data-parsley-multiple="energy-provider">
                  <label for="energy-provider-spark" class="input-radio shadow rounded p-2 cursor-p">
                    <div class="iconic-and-text">
                      <div class="image-box rounded-top bg-white p-2">
                        <%= image_tag("spark.png", class: "", width:'85px', height:'40px' ) %>
                      </div>
                      <div class="mt-2">
                        <p class="text-center mb-0 text-label">Spark</p>
                      </div>
                    </div>
                  </label>
                </div>
                <div class="w-radio position-relative mt-2 mt-md-0">
                  <input
                  name="energy-provider"
                  class="opacity-0 error-on-button energy-provider input-energy cursor-p form-control"
                  id="energy-provider-sse"
                  data-parsley-group="block-0"
                  data-parsley-required="true"
                  data-parsley-required-message="Please select one company"
                  type="radio"
                  value="SSE"
                  data-parsley-multiple="energy-provider">
                  <label for="energy-provider-sse" class="input-radio shadow rounded p-2 cursor-p">
                    <div class="iconic-and-text">
                      <div class="image-box rounded-top bg-white p-2">
                        <%= image_tag("sse-logo.png", class: "", width:'85px', height:'40px' ) %>
                      </div>
                      <div class="mt-2">
                        <p class="text-center mb-0 text-label">SSE</p>
                      </div>
                    </div>
                  </label>
                </div>
                <div class="w-radio position-relative mt-2 mt-md-0">
                  <input
                  name="energy-provider"
                  class="opacity-0 error-on-button energy-provider input-energy cursor-p form-control"
                  id="energy-provider-utilita"
                  data-parsley-group="block-0"
                  data-parsley-required="true"
                  data-parsley-required-message="Please select one company"
                  type="radio"
                  value="Utilita"
                  data-parsley-multiple="energy-provider">
                  <label for="energy-provider-utilita" class="input-radio shadow rounded p-2 cursor-p">
                    <div class="iconic-and-text">
                      <div class="image-box rounded-top bg-white p-2">
                        <%= image_tag("utilita.png", class: "", width:'85px', height:'40px' ) %>
                      </div>
                      <div class="mt-2">
                        <p class="text-center mb-0 text-label">Utilita</p>
                      </div>
                    </div>
                  </label>
                </div>
                <div class="w-radio position-relative mt-2 mt-md-0">
                  <input
                  name="energy-provider"
                  class="opacity-0 error-on-button energy-provider input-energy cursor-p form-control"
                  id="energy-provider-bulb"
                  data-parsley-group="block-0"
                  data-parsley-required="true"
                  data-parsley-required-message="Please select one company"
                  type="radio"
                  value="Bulb"
                  data-parsley-multiple="energy-provider">
                  <label for="energy-provider-bulb" class="input-radio shadow rounded p-2 cursor-p">
                    <div class="iconic-and-text">
                      <div class="image-box rounded-top bg-white p-2">
                        <%= image_tag("Bulb.png", class: "", width:'85px', height:'40px' ) %>
                      </div>
                      <div class="mt-2">
                        <p class="text-center mb-0 text-label">Bulb</p>
                      </div>
                    </div>
                  </label>
                </div>
                <div class="w-radio position-relative mt-2 mt-md-0">
                  <input
                  name="energy-provider"
                  class="opacity-0 error-on-button energy-provider input-energy cursor-p form-control"
                  id="energy-provider-Other"
                  data-parsley-group="block-0"
                  data-parsley-required="true"
                  data-parsley-required-message="Please select one company"
                  type="radio"
                  value="Other"
                  data-parsley-multiple="energy-provider">
                  <label for="energy-provider-Other" class="input-radio shadow rounded p-2 cursor-p">
                    <div class="iconic-and-text">
                      <div class="image-box rounded-top bg-white p-2">
                        <%= image_tag("other1.png", class: "", width:'85px', height:'40px' ) %>
                      </div>
                      <div class="mt-2">
                        <p class="text-center mb-0 text-label">Other</p>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="error-box"></div>
            </div>
            <div class="tab mt-4 text-center form-group">
              <label class="d-flex justify-content-center py-2 h5 font-weight-bold f-25">How Do You Currently Pay?</label>
              <div class="my-3 row justify-content-center">
                <div class="position-relative mt-2 mt-md-0 input-div">
                  <input
                  name="currently-payment-type"
                  class="opacity-0 error-on-button currently-payment-type cursor-p form-control position-absolute input-pay-radio"
                  id="currently-payment-type"
                  data-parsley-group="block-0"
                  data-parsley-required="true"
                  data-parsley-required-message="Please select one type"
                  type="radio"
                  value="Pre Payment"
                  data-parsley-multiple="currently-payment-type">
                  <label for="currently-payment-type" class="input-payment shadow rounded py-3 pl-md-5 pl-4 pr-md-4 pr-0 cursor-p">
                    Pre Payment
                  </label>
                </div>
                <div class="position-relative mt-2 mt-md-0 input-div">
                  <input
                  name="currently-payment-type"
                  class="opacity-0 error-on-button currently-payment-type cursor-p form-control position-absolute input-pay-radio"
                  id="currently-payment-type-quartly"
                  data-parsley-group="block-0"
                  data-parsley-required="true"
                  data-parsley-required-message="Please select one type"
                  type="radio"
                  value="Quartly"
                  data-parsley-multiple="currently-payment-type">
                  <label for="currently-payment-type-quartly" class="input-payment shadow rounded py-3 pl-md-5 pl-4 pr-md-4 pr-0 cursor-p">
                    Quartly
                  </label>
                </div>
                <div class="position-relative mt-2 mt-md-0 input-div">
                  <input
                  name="currently-payment-type"
                  class="opacity-0 error-on-button currently-payment-type cursor-p form-control position-absolute input-pay-radio"
                  id="currently-payment-type-direct"
                  data-parsley-group="block-0"
                  data-parsley-required="true"
                  data-parsley-required-message="Please select one type"
                  type="radio"
                  value=" Direct Debit"
                  data-parsley-multiple="currently-payment-type">
                  <label for="currently-payment-type-direct" class="input-payment shadow rounded py-3 pl-md-5 pl-4 pr-md-4 pr-0 cursor-p">
                    Direct Debit
                  </label>
                </div>
                <div class="position-relative mt-2 mt-md-0 input-div">
                  <input
                  name="currently-payment-type"
                  class="opacity-0 error-on-button currently-payment-type cursor-p form-control position-absolute input-pay-radio"
                  id="currently-payment-type-other"
                  data-parsley-group="block-0"
                  data-parsley-required="true"
                  data-parsley-required-message="Please select one type"
                  type="radio"
                  value="Other"
                  data-parsley-multiple="currently-payment-type">
                  <label for="currently-payment-type-other" class="input-payment shadow rounded py-3 pl-md-5 pl-4 pr-md-4 pr-0 cursor-p">
                    Other
                  </label>
                </div>
                <div class="error-box"></div>
              </div>
            </div>
            <div class="row tab align-items-center justify-content-center w-100 m-0">
              <div class="col-lg-8 mx-auto px-0">
                <label class="text-center w-100 f-25 font-weight-bold">First Line of Address</label>
                <div class="mx-auto mb-4">
                  <input
                  type="text"
                  name="address"
                  class="address form-control rounded text-secondary h-46 pr-5"
                  id="address"
                  data-parsley-required="true"
                  data-parsley-group="block-0"
                  data-parsley-required-message="Please Enter Your Address" 
                  required="">
                  <i class="validate success fa fa-check-circle"></i>
                  <i class="validate error fa fa-times-circle"></i>
                </div>              
              </div>
            <button
              id="btn-submit" type="button" class="btn-lg btn-success btn-next text-white rounded-lg font-weight-bold w-100 mt-4 h-46 form-control position-relative" >Continue
            </button>
            <div class="pt-4">
              <p class="text-center m-0">No I do not want to save money on my energy bills, <br> </p>
              <a href="https://mtrk5.co.uk/?a=14118&c=33110&s1=<%= params[:s1] %>&s2=<%= params[:s2] %>&s3=<%= params[:s3] %>&s4=<%= params[:s4] %>&s5=<%= params[:s5] %>" class="text-center">Take me to the mobile deals only</a> 
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="container z-index-6 position-relative mt-md-5 py-5">
      <div class="row m-0 w-100 align-items-center justify-content-center">
        <div class="col-md-4 text-center">
          <%= image_tag("sa.png", class: "img-saving mb-3") %>
          <h6 class="font-weight-bold text-white">Continuous Energy <br>Savings All Year Round</h6>
        </div>
        <div class="col-md-4 text-center">
          <%= image_tag("effortless.png", class: "
          -effortles mb-3") %>
          <h6 class="font-weight-bold text-white">No Paperwork, <br>No Hassle - Save Automatically</h6>
        </div>
        <div class="col-md-4 text-center">
          <%= image_tag("smiley-person.png", class: "img-smily mb-3") %>
          <h6 class="font-weight-bold text-white">First-Class <br> Customer Service</h6>
        </div>
      </div>
    </div>
    <div class="row w-100 mx-0 py-4 justify-content-center align-items-center ">
      <div class="col mx-auto text-center">
        <p
          class="font-weight-bold text-white h5 fs-md-16">It's quick and simple to compare your energy bills.
        </p>
        <p
          class="font-weight-bold text-white h5 fs-md-16">All you need to do is fill in the form & we will deal with the rest when we give you a call!
        </p>
      </div>
    </div>
  </section>
  <!-- company logo section -->
  <section class="bg-white position-relative z-index-6 text-center">
    <h3 class="font-weight-bold fs-md-21">To name just a few of the providers we compare for you.</h3>
    <div class="row w-100 m-0 align-items-center justify-content-md-around justify-content-between p-4">
      <%= image_tag("spark.png", class: "img-compny") %>
      <%= image_tag("sse-logo.png", class: "img-compny") %>
      <%= image_tag("npower.png", class: "img-compny") %>
      <%= image_tag("eon-logo.png", class: "img-compny") %>
      <%= image_tag("edf.png", class: "img-compny") %>
      <%= image_tag("british-gas.png", class: "img-compny") %>
    </div>
  </section>
</div>
<%= render 'layouts/common/footer' %>

