<%= javascript_pack_tag 'common', 'data-turbolinks-track': 'reload', defer: true %>
<%= render 'layouts/sp-exit/header' %>
<div class="bg-light border-bottom py-3 py-md-5">
  <div class="text-center">
    <%= image_tag("company/02-logo.png", class: "", width: "180") %>
  </div>
  <div class="container">
    <div class="row w-100 mx-0 mt-2">
      <div class="col-md-9 mx-auto text-center">
        <div class="">
          <h1 class="fs-md-36 text-success fs-39">Success, you have been matched with o2</h1>
          <h5 class="fs-md-17 text-dark">We have found you an exclusive deal with o2. They are preparing this deal for you now and will call you shortly from 0161, 01282, 01753, 020 or 028 number.</h5>
          <h4 class="text-center font-weight-bold ">This exclusive deal also includes <span class="small">(6 months free Disney Plus)</span></h4>
          <%= image_tag("disney.gif", class: "rounded-circle pt-3 disney-gif", width: "550") %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/common/footer' %>
