<div class="success-page">
  <%= javascript_pack_tag 'success', 'data-turbolinks-track': 'reload', defer: true %>
  <%= render 'layouts/sim_deals/header' %>
    <div class="bg-light border-bottom border-top">
      <div class="container">
        <div class="row m-0 w-100 align-items-center justify-content-center py-md-5">
          <h2 class="text-center fs-md-20"> <%= params[:s5]&.capitalize %>, here are the top 2 unbeatable mobile deals for you!</h2>
          <div class="col-lg-6 mx-auto text-center px-0 px-md-3">
            <a href="https://www.awin1.com/cread.php?awinmid=10933&awinaffid=652417&clickref=exit&ued=https%3A%2F%2Fsmarty.co.uk%2Fplans&s1=<%= params[:s1] %>&s2=<%= params[:s2] %>&s3=<%= params[:s3] %>&s4=<%= params[:s4] %>&s5=<%= params[:s5] %>" class="text-decoration-none ">
              <div class="div-deals bg-white pb-md-3 pb-2 open-form">
                <div class="blue-bg text-white shadow w-100 border-bottom border-top top-text-deal">
                  <h2 class="py-3 font-weight-bold m-0 fs-md-23 fs-sm-20">Only pay for the data you use</h2>
                </div>
                <div class="row w-100 m-0 align-items-center my-3">
                  <div class="col-5 text-right text-md-center px-0">
                    <div class="img-div position-relative">
                      <%= image_tag("sim-card.png", class: "sim-img") %>
                    </div>
                  </div>
                  <div class="col-7 text-center px-1">
                    <div class="row w-100 m-0 align-items-center">
                      <div class="col-6 px-1 text-center border-right">
                        <i class="fas fa-phone-alt blue-text fs-20 fs-md-17"></i>
                        <h4 class=" font-weight-bold text-dark fs-md-19">Calls</h4>
                        <h5 class="font-weight-bold fs-md-15 text-success">Unlimited</h5>
                      </div>
                      <div class="col-6 px-1 text-center">
                        <i class="fas fa-comments blue-text fs-20 fs-md-17"></i>
                        <h4 class=" font-weight-bold text-dark fs-md-19">Texts</h4>
                        <h5 class="font-weight-bold fs-md-15 text-success">Unlimited</h5>
                      </div>
                    </div>
                    <div class="row w-100 m-0 align-items-center mt-2">
                      <div class="col-6 px-1 text-center border-right">
                        <i class="fas fa-globe blue-text fs-20 fs-md-17"></i>
                        <h4 class="font-weight-bold text-dark fs-md-19">Data</h4>
                        <h5 class="font-weight-bold fs-md-15 text-success">Unlimited</h5>
                      </div>
                      <div class="col-6 px-1 text-center">
                        <i class="fas fa-money-bill-alt blue-text fs-20 fs-md-17"></i>
                        <h4 class="font-weight-bold text-dark fs-md-19">Starting <span class="fs-11">from</span></h4>
                        <h4 class="font-weight-bold fs-md-19 text-success">£6</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row w-100 m-0 align-items-center justify-content-center py-2 mt-xl-5">
                  <h4 class="text-success fs-md-19">5G READY | Personal Hotspot</h4>
                </div>
                <div class="w-95 mx-auto mt-lg-3">
                  <button class="btn btn-primary o-btn open-form w-100 hv-50">Continue</button>
                </div>
              </div>
            </a>
          </div>
          <!--  -->
          <div class="col-lg-6 mx-auto text-center px-0 px-md-3 mt-lg-0 mt-4">
            <a href="https://www.awin1.com/cread.php?awinmid=10951&awinaffid=652417&clickref=MDexit&ued=https%3A%2F%2Fwww.voxi.co.uk%2Fplans&s1=<%= params[:s1] %>&s2=<%= params[:s2] %>&s3=<%= params[:s3] %>&s4=<%= params[:s4] %>&s5=<%= params[:s5] %>" class="text-decoration-none ">
              <div class="div-deals bg-white pb-md-3 pb-2 open-form">
                <div class="blue-bg text-white shadow w-100 border-bottom border-top top-text-deal">
                  <h2 class="py-3 font-weight-bold m-0 fs-md-24 fs-sm-22">Endless social media deal</h2>
                </div>
                <div class="row w-100 m-0 align-items-center my-3">
                  <div class="col-5 text-right text-md-center px-0">
                    <div class="img-div position-relative">
                      <%= image_tag("sim-card.png", class: "sim-img") %>
                    </div>
                  </div>
                  <div class="col-7 text-center px-1">
                    <div class="row w-100 m-0 align-items-center">
                      <div class="col-6 px-1 text-center border-right">
                        <i class="fas fa-phone-alt blue-text fs-20 fs-md-17"></i>
                        <h4 class=" font-weight-bold text-dark fs-md-19">Calls</h4>
                        <h5 class="font-weight-bold fs-md-15 text-success">Unlimited</h5>
                      </div>
                      <div class="col-6 px-1 text-center">
                        <i class="fas fa-comments blue-text fs-20 fs-md-17"></i>
                        <h4 class=" font-weight-bold text-dark fs-md-19">Texts</h4>
                        <h5 class="font-weight-bold fs-md-15 text-success">Unlimited</h5>
                      </div>
                    </div>
                    <div class="row w-100 m-0 align-items-center mt-2">
                      <div class="col-6 px-1 text-center border-right">
                        <i class="fas fa-globe blue-text fs-20 fs-md-17"></i>
                        <h4 class="font-weight-bold text-dark fs-md-19">Data</h4>
                        <h5 class="fs-md-17 text-success"><span class="font-weight-bold h4 fs-md-19">12</span>GB</h5>
                      </div>
                      <div class="col-6 px-1 text-center">
                        <i class="fas fa-money-bill-alt blue-text fs-20 fs-md-17"></i>
                        <h4 class="font-weight-bold text-dark fs-md-19">Monthly</h4>
                        <h4 class="font-weight-bold fs-md-19 text-success">£10</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row w-100 m-0 align-items-center justify-content-center py-2 mt-xl-5">
                  <h4 class="text-success fs-md-19">Endless Roaming & Flexbility</h4>
                </div>
                <div class="w-95 mx-auto mt-lg-3">
                  <button class="btn btn-primary o-btn open-form w-100 hv-50">Continue</button>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  <%= render 'layouts/common/network_logos'%>
  <%= render 'layouts/common/footer' %>
  <%= render 'layouts/sim_deals/step_form'%>
</div>
