<%= javascript_pack_tag 'homev1', 'data-turbolinks-track': 'reload', defer: true %>
<div id="new-home-page">
  <%= render 'layouts/noscript/home' %>
  <%= render 'layouts/homev1/header' %>
  <%= render 'layouts/homev1/main-banner' %>
  <%= render 'layouts/homev1/network_logos' %>
  <%= render 'layouts/homev1/deals' %>
  <%= render 'layouts/homev1/testimonials'  %>
  <%= render 'layouts/homev1/why-choose-us'  %>
  <%= render 'layouts/homev1/faq' %>
  <%= render 'layouts/common/waiting_loader' %>
  <%= render 'layouts/homev1/step_form'%>
  <%= render 'layouts/homev1/footer' %>
  <%= render 'layouts/common/share_domain_iframes' %>
</div>
