<%= javascript_pack_tag 'home', 'data-turbolinks-track': 'reload', defer: true %>
<div id="mobile-go">
  <%= render 'layouts/noscript/home' %>
  <%= render 'layouts/homev2/header' %>
  <div class="background-header d-none d-md-block"></div>
  <div class="bg-light-pink d-block d-md-none pt-2 pb-3 border-bottom">
    <div class="container text-center">
      <h1>Our Best Deals</h1>
      <h5 class="font-weight-bold mb-0 text-jam">No upfront payments</h5>
      <h5 class="font-weight-bold mb-0 text-jam">Network Sign Up Offers</h5>
      <h5 class="font-weight-bold mb-4 text-jam">Huge Discounts</h5>
      <%= image_tag("phones-header.png", class: "", width: "240", alt: "Banner image" ) %>
    </div>
  </div>
  <%= render 'layouts/homev2/deals_list_phones'  %>
  <%= render 'layouts/homev2/network_logos'%>
  <%= render 'layouts/common/footer' %>
  <%= render 'layouts/homev2/step_form'%>
  <%= render 'layouts/common/waiting_loader' %>
</div>