<!-- Network logos Section -->
<section class=" bg-white form-logos" data-url="/success" >
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-2 mb-2 text-center px-0 px-md-2">
            <%= image_tag("company/ee.png", class: "network-log", alt: "EE-network logo" ) %>
        </div>
        <div class="col-2 mb-2 text-center px-0 px-md-2">
            <%= image_tag("company/vodafone.png", class: "network-log", alt: "vodafone-network logo" ) %>
        </div>
        <div class="col-2 mb-2 text-center px-0 px-md-2">
            <%= image_tag("company/id.png", class: "network-log", alt: "id-network logo") %>
        </div>
        <div class="col-2 mb-2 text-center px-0 px-md-2">
            <%= image_tag("company/three.png", class: "network-log", alt: "three-network logo") %>
        </div>
        <div class="col-2 mb-2 text-center px-0 px-md-2">
            <%= image_tag("company/02.png", class: "network-log", alt: "O2-network logo") %>
        </div>
      </div>
  </div>
</section>