<!-- Network logos Section -->
<section class=" bg-white py-5 open-form" data-url="/success" >
  <div class="container">
    <% if @bc %>
      <h5 class="fm_h text-center text-md-left">Get accepted on the top networks</h5>
    <% else %>
      <h5 class="fm_h text-center text-md-left">Choose between the top networks</h5>
    <% end %>
    
      <div class="row">
        <div class="col-md-2 mb-2">
          <a href="https://mtrk5.co.uk/?a=14118&c=33110&s1=<%= params[:s1] %>&s2=<%= params[:s2] %>&s3=<%= params[:s3] %>&s4=<%= params[:s4] %>&s5=<%= params[:s5] %>" class="networks-box">
            <%= image_tag("company/ee.png", class: "network-log", alt: "EE-network logo" ) %>
          </a>
        </div>
        <div class="col-md-2 mb-2">
          <a href="https://mtrk5.co.uk/?a=14118&c=33110&s1=<%= params[:s1] %>&s2=<%= params[:s2] %>&s3=<%= params[:s3] %>&s4=<%= params[:s4] %>&s5=<%= params[:s5] %>" class="networks-box">
            <%= image_tag("company/vodafone.png", class: "network-log", alt: "Vodafone-network logo" ) %>
          </a>
        </div>
        <div class="col-md-2 mb-2">
          <a href="https://mtrk5.co.uk/?a=14118&c=33110&s1=<%= params[:s1] %>&s2=<%= params[:s2] %>&s3=<%= params[:s3] %>&s4=<%= params[:s4] %>&s5=<%= params[:s5] %>" class="networks-box">
            <%= image_tag("company/id.png", class: "network-log", alt: "ID-network logo") %>
          </a>
        </div>
        <div class="col-md-2 mb-2">
          <a href="https://mtrk5.co.uk/?a=14118&c=33110&s1=<%= params[:s1] %>&s2=<%= params[:s2] %>&s3=<%= params[:s3] %>&s4=<%= params[:s4] %>&s5=<%= params[:s5] %>" class="networks-box">
            <%= image_tag("company/three.png", class: "network-log", alt: "Three-network logo") %>
          </a>
        </div>
        <div class="col-md-2 mb-2">
          <a href="https://mtrk5.co.uk/?a=14118&c=33110&s1=<%= params[:s1] %>&s2=<%= params[:s2] %>&s3=<%= params[:s3] %>&s4=<%= params[:s4] %>&s5=<%= params[:s5] %>" class="networks-box">
            <%= image_tag("company/02.png", class: "network-log", alt: "O2-network logo") %>
          </a>
        </div>
        <div class="col-md-2 mb-2">
          <a href="https://mtrk5.co.uk/?a=14118&c=33110&s1=<%= params[:s1] %>&s2=<%= params[:s2] %>&s3=<%= params[:s3] %>&s4=<%= params[:s4] %>&s5=<%= params[:s5] %>" class="networks-box">
            <%= image_tag("company/tessco.png", class: "network-log", alt: "Tesco-network logo") %>
          </a>
        </div>
      </div>
  </div>
</section>
