<div class="bg-light py-md-4 py-2" id="network-logos">
  <div class="wrapper">
    <div class="row p-0 mx-0 w-100">
      <div class="col-md-6 p-0">
        <div class="d-flex justify-content-around align-items-center py-3 py-md-0">
          <div class="network-icon">
            <%= image_tag("id-mobile.png", class: 'w-100 h-100', alt: "ID-network logo" ) %>
          </div>
          <div class="network-icon">
            <%= image_tag("o2.png", class: 'w-100 h-100', alt: "O2-network logo") %>
          </div>
          <div class="network-icon">
            <%= image_tag("three.png", class: 'w-100 h-100', alt: "Three-network logo") %>
          </div>
          <div class="network-icon">
            <%= image_tag("voxi.png", class: 'w-100 h-100', alt: "Voxi-network logo") %>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0 d-md-block d-none">
        <div class="d-flex justify-content-around align-items-center py-3 py-md-0">
          <div class="network-icon">
            <%= image_tag("bt.png", class: 'w-100 h-100', alt: "BT-network logo" ) %>
          </div>
          <div class="network-icon">
            <%= image_tag("virgin.png", class: 'w-100 h-100', alt: "Virgin-network logo") %>
          </div>
          <div class="network-icon">
            <%= image_tag("ee.png", class: 'w-100 h-100', alt: "EE-network logo") %>
          </div>
          <div class="network-icon">
            <%= image_tag("vodafone.png", class: 'w-100 h-100', alt: "Vodafone-network logo") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
