<!-- Deals list section -->
<section  class="bg-white py-5">
  <div class="container">
    <div class="col-lg-10 ml-auto">
      <% @phoneshome.each do |phone| %>
        <div class=" row w-100 m-0 bg-white rounded shadow mb-3 border">
          <div class="col-md-2 text-md-left text-center pb-ms-2 align-self-center border-right py-2">
              <%= image_tag(phone[:image], class: "", width: "120" ) %>
          </div>
          <div class="row col-lg-7 m-0 py-3 border-right">
            <div class="col-md-12 px-1 text-md-left text-center mt-md-0 mt-2">

              <div class=" row w-100 justify-content-md-start justify-content-center align-items-center m-0 pl-3">
                <h5 class="m-0 text-md-left font-weight-bold"><%= phone[:name] %></h5>
              </div>
              <div class="row w-100 mx-0 align-items-center pt-2">
                <div class="col-12">
                  <p class="m-0 text-md-left "><i class="fas fa-check-double"></i> <%= phone[:bluetext] %></p>
                </div>
              </div>
              <div class="row w-100 m-0">
                <div class="col-3 text-center align-self-center mb-2">
                  <div class="pt-2">
                    <h5 class="font-weight-bold text-jam">Unlimited</h5>
                  </div>
                  <div class="py-" >
                    <%= image_tag('company/data.png', class: "", width: "40" ) %>
                  </div>
                </div>
                <div class="col-3 text-center align-self-center mb-2">
                  <div class="pt-2">
                    <h5 class="font-weight-bold text-jam">Unlimited</h5>
                  </div>
                  <div class="py-">
                    <%= image_tag('company/text.png', class: "", width: "40" ) %>
                  </div>
                </div>
                <div class="col-3 text-center align-self-center mb-2">
                  <div class="pt-2">
                    <h5 class="font-weight-bold text-jam">Unlimited</h5>
                  </div>
                  <div class="py-">
                    <%= image_tag('company/phone-call.png', class: "", width: "40" ) %>
                  </div>
                </div>
                <div class="col-3 text-center align-self-center">
                  <h5 class="mt-0 text-jam  fw-400"><span class="font-weight-bold">
                    <%= phone[:deposit] %></span> Upfront</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center align-self-center">
            <div class="pt-2 pb-3  text-center align-self-center">
              <button  type="button" class="font-weight-bold px-md-0 px-5 py-2 fs-md-12 btn w-md-100 btn-offers open-form">GET PLAN </button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
