<!-- Deals list section -->
<section  class="bg-white py-5">
  <div class="container">
    <div class="col-lg-10 ml-auto">
      <% @phoneshome.each do |phone| %>
        <div class="bg-white shadow rounded-lg bold-border mb-3">
          <div class="row align-items-center w-100 m-0 px-md-5 pl-2 py-3">
            <h5 class="m-0 font-weight-bold"><%= phone[:name] %></h5>
          </div>
          <div class="row w-100 m-0 pb-3">
            <div class="col-md-3 text-center align-self-center">
              <%= image_tag(phone[:image], class: "", width: "80" ) %>
            </div>
            <div class="col-md-6 px-1 text-md-left text-center mt-md-0 mt-2">
              <h6 class="m-0"> <span class="font-weight-bold">12</span> month contract</h6>
              <p class="mb-1"><%= phone[:bluetext] %></p>
              <div class="row w-100 m-0">
                <div class="col-md-3 col-6 text-center align-self-center mb-2">
                  <i class="fas fa-globe text-jam"></i>
                  <p class="mb-0 fs-md-12"><%= phone[:data] %></p>
                  <p class="m-0 fs-md-11">Data</p>
                </div>
                <div class="col-md-3 col-6 text-center align-self-center mb-2">
                  <i class="fas fa-sms text-jam"></i>
                  <p class="mb-0 fs-md-12"><%= phone[:texts] %></p>
                  <p class="m-0 fs-md-11">Texts</p>
                </div>
                <div class="col-md-3 col-6 text-center align-self-center mb-2">
                  <i class="fas fa-phone-alt text-jam"></i>
                  <p class="mb-0 fs-md-12"><%= phone[:calls] %></p>
                  <p class="m-0 fs-md-11">Minutes</p>
                </div>
                <div class="col-md-3 col-6 text-center align-self-center px-0">
                  <h5 class="m-0 text-jam  fw-400"><span class="font-weight-bold">
                    <%= phone[:deposit] %></span> Deposit</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3 text-center align-self-center">
              <button  type="button" class="font-weight-bold py-2 fs-md-12 btn px-4 btn-offers open-form">GET DEAL <i class="fas fa-hand-point-right ml-2 text-white"></i></button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
