<!-- Network logos Section -->
<section class=" bg-pink py-2 open-form" data-url="/success" >
  <div class="container">
      <div class="row w-100 m-0 justify-content-around align-items-center">
        <%= image_tag("company/logo-ee-white.png", class: "network-log2", alt: "EE-network logo" ) %>
        <%= image_tag("company/Vodafone-logo-white.png", class: "network-log3", alt: "Vodafone-network logo" ) %>
        <%= image_tag("company/id-white.png", class: "network-log1", alt: "ID-network logo") %>
        <%= image_tag("company/three-white.png", class: "network-log2", alt: "Three-network logo") %>
        <%= image_tag("company/o2-white.png", class: "network-log1", alt: "O2-network logo") %>
        <%= image_tag("company/Tesco-white.png", class: "network-log1", alt: "Tesco-network logo") %>
      </div>
  </div>
</section>
