<!-- Form -->
<div class="modal fade" id="deal-form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content deal-form-box">
      <div class="modal-header">
         <h1><span class="text-blue">You are just</span> 30 seconds <span class="text-blue"> away from your dream phone</span></h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" id="dealform" data-details="<%= @details %>" method="post" action="javascript:;">
          <div class="progress mb-5">
            <div class="progress-bar w-0" id="progressBar"></div>
          </div>
          <div  class="tab display-none" id="slide1">
            <div class="row justify-content-center">
              <div class="form-group col-lg-7 col-sm-7  col-12">
                <label>First Name*</label>
                <input
                name="first_name"
                required
                data-parsley-required="true"
                data-parsley-required-message="Please Enter First Name" data-parsley-pattern-message="First Name Must Be Alphabetic" data-parsley-pattern="/^[a-zA-Z ]*$/"
                data-parsley-group="block-0"
                type="text"
                class="first_name form-control hero-input ignoreStep3"
                placeholder="First Name" >
                 <i class="validate success fa fa-check-circle"></i>
                <i class="validate error fa fa-times-circle"></i>
              </div>
              <div class="form-group col-lg-7  col-sm-7 col-12">
                <label>Last Name*</label>
                <input
                name="last_name"
                required
                data-parsley-required="true"
                data-parsley-required-message="Please Enter Last Name"
                data-parsley-group="block-0"
                data-parsley-pattern-message="Last Name Must Be Alphabetic" data-parsley-pattern="/^[a-zA-Z ]*$/"
                type="text"
                class="form-control ignoreStep3 last_name"
                placeholder="Surname" >
                 <i class="validate success fa fa-check-circle"></i>
                <i class="validate error fa fa-times-circle"></i>
              </div>
            </div>
          </div>
          <div  class="tab display-none" id="slide2">
            <div class="row justify-content-center">
              <!-- postcode -->
              <div class="form-group col-lg-7  col-sm-7 col-12">
                <label>Postcode*</label>
                <input
                name="postcode"
                required
                data-parsley-required="true"
                data-parsley-required-message="Please Enter Postcode"
                data-parsley-group="block-1"
                data-parsley-valid-postcode
                type="text"
                class="postcode form-control ignoreStep4"
                placeholder="Postcode">
                <i class="validate success fa fa-check-circle"></i>
                <i class="validate error fa fa-times-circle"></i>
              </div>
            </div>
          </div>
          <div  class="tab phoneEmailTab display-none" id="slide3">
            <div class="row justify-content-center">
              <div class="input-group  mb-3  col-lg-7 col-md-7 phone-div">
                <label class="w-100">Mobile Number*</label>
                <input
                type="number"
                name="telephone"
                required
                data-parsley-required="true"
                data-parsley-required-message="Please Enter Valid Uk Phone Number"
                data-parsley-type="number"
                data-parsley-group="block-2"
                data-parsley-validphone
                class="form-control phone telephone"
                placeholder="Mobile Number">
                <div class="input-group-append">
                  <span class="input-group-text">
                     <%= image_tag("privacy.png", class: "privcy pull-right" ) %>
                  </span>
                </div>
              </div>
              <div class="input-group mb-3  col-lg-7 col-md-7 email-div">
                <label class="w-100">Email Address*</label>
                <div class="clearfix"></div>
                <input
                type="email"
                name="email"
                required
                data-parsley-required="true"
                data-parsley-required-message="Please Enter Valid Email Address"
                data-parsley-type="email"
                data-parsley-type-message="Please Enter Valid Email Address"
                data-parsley-group="block-2"
                data-parsley-validemail
                value=""
                class="form-control nme_inpu email"
                placeholder="Email Address">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <%= image_tag("privacy.png", class: "privcy pull-right" ) %>

                  </span>
                </div>
              </div>
              <div class="custom-checkbox col-lg-7">
                <label>Accept</label>
                <div class="onoffswitch">
                  <input type="hidden" name="c1">
                  <input
                    type="checkbox"
                    name="agree"
                    class="onoffswitch-checkbox approve"
                    id="myonoffswitch"
                    data-parsley-required="true"
                    data-parsley-group="block-2"
                    data-parsley-required-message="Please accept our terms and conditions"
                    >
                  <label class="onoffswitch-label" for="myonoffswitch">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                  </label>
                </div>
                <div class="error-checkbox"></div>
                <p class="text-center">
                  By clicking accept, I agree to be contacted by MegaMobileDeals and its mobile
                   <%= render 'layouts/common/tooltip_partners_step_form'%>
                  via phone, SMS & email in accordance with these

                  <a href="https://deals.megamobiledeals.com/terms-and-conditions/">Terms and conditions</a>.
                </p>
              </div>
            </div>
          </div>
          <div  class="tab display-none" id="slide4">
            <div class="row justify-content-center">
              <h4 class="text-center">People living near <span class="postcode_holder text-danger text-uppercase">Postcode</span> are saving up to £461 on their Energy bills. Would you like to see if you can save too?</h4>
              <div class="form-group col-lg-7  col-sm-7 col-12">
                 <div class="row w-100 m-0 justify-content-around">
                    <div class="col-6 text-center">
                      <input
                        id="save-energy"
                        name="save-energy"
                        class="save-energy opacity-0 yes-hover px-2 h-46 m-w mx-auto border border-secondary bg-white rounded text-secondary form-control text-center position-absolute"
                        data-parsley-required="true"
                        data-parsley-group="block-3"
                        type="radio"
                        value="yes"
                        required=""
                        >
                       <label for="save-energy" class="input-radio with-icn yes-hover border rounded pt-4 pb-2 cursor-p">
                          <div class="iconic-and-text">
                            <i class="fa fa-check-circle fs-45 icon-save-energy "></i>
                            <div class="mt-2">
                              <h4 class="mx-md-4 px-md-3 text-center">Yes</h4>
                            </div>
                            <i></i>
                          </div>
                       </label>
                    </div>
                    <div class="col-6 text-center">
                      <input
                        id="save-energy-no"
                        name="save-energy"
                        class="save-energy opacity-0 no-hover px-2 h-46 m-w mx-auto border border-secondary bg-white rounded text-secondary form-control text-center position-absolute"
                        data-parsley-required="true"
                        data-parsley-group="block-3"
                        type="radio"
                        value="no"
                        required=""
                        >
                       <label for="save-energy-no" class="input-radio with-icn no-hover border rounded pt-4 pb-2 cursor-p">
                          <div class="iconic-and-text">
                            <i class="fa fa-check-circle fs-45 icon-save-energy "></i>
                            <div class="mt-2">
                              <h4 class="mx-md-4 px-md-3 text-center">No</h4>
                            </div>
                            <i></i>
                          </div>
                       </label>
                    </div>
                 </div>
              </div>
            </div>
          </div>
          <div  class="tab display-none" id="slide5">
            <div class="row justify-content-center">
              <!-- address -->
              <div class="form-group col-lg-7  col-sm-7 col-12">
                 <label>First Line Of Address?</label>
                 <input
                    name="street1"
                    id="street1"
                    required
                    data-parsley-required="true"
                    data-parsley-required-message="Please Enter Your Address"
                    data-parsley-group="block-4"
                    type="text"
                    class="street1 form-control"
                    placeholder="Address">
                 <i class="validate success fa fa-check-circle"></i>
                 <i class="validate error fa fa-times-circle"></i>
              </div>
            </div>
          </div>
          <div  class="tab display-none" id="slide6">
            <div class="row justify-content-center">
              <h4 class="text-center">Would you be interested in finance for a phone from one of our partners?</h4>
              <div class="form-group col-lg-7  col-sm-7 col-12">
                 <div class="row w-100 m-0 justify-content-around">
                    <div class="col-6 text-center">
                      <input
                          id="finance"
                          name="finance"
                          class="finance opacity-0 yes-hover px-2 h-46 m-w mx-auto border border-secondary bg-white rounded text-secondary form-control text-center position-absolute"
                          data-parsley-required="true"
                          data-parsley-required-message="Must Select One Value"
                          data-parsley-group="block-5"
                          type="radio"
                          value="yes"
                          required=""
                          >
                      <label for="finance" class="input-radio with-icn yes-hover border rounded pt-4 pb-2 cursor-p">
                          <div class="iconic-and-text">
                            <i class="fa fa-check-circle fs-45 icon-save-energy "></i>
                            <div class="mt-2">
                              <h4 class="mx-md-4 px-md-3 text-center">Yes</h4>
                            </div>
                            <i></i>
                          </div>
                      </label>
                    </div>
                    <div class="col-6 text-center">
                      <input
                          id="financeno"
                          name="finance"
                          class="finance opacity-0 no-hover px-2 h-46 m-w mx-auto border border-secondary bg-white rounded text-secondary form-control text-center position-absolute"
                          data-parsley-required="true"
                          data-parsley-required-message="Must Select One Value"
                          data-parsley-group="block-5"
                          type="radio"
                          value="no"
                          required=""
                          >
                      <label for="financeno" class="input-radio with-icn yes-hover border rounded pt-4 pb-2 cursor-p">
                          <div class="iconic-and-text">
                            <i class="fa fa-check-circle fs-45 icon-save-energy "></i>
                            <div class="mt-2">
                              <h4 class="mx-md-4 px-md-3 text-center">No</h4>
                            </div>
                            <i></i>
                          </div>
                      </label>
                    </div>
                 </div>
              </div>
            </div>
          </div>
          <div  class="tab display-none" id="slide7">
            <h4 class="text-center mb-3 text-orange">
              Great, your mobile offer is on the next page. Just let us know if the following offers would be of interest to you. If not just select "no" and continue to your mobile deal
            </h4>
            <div class="row justify-content-center">
              <div class="col px-0">
                 <h4 class="text-center mb-4">50 Free Spins From 123 Casino?</h4>
                 <div class="form-group col-lg-7  col-sm-7 col-12 mx-auto">
                    <div class="row w-100 m-0 justify-content-around">
                       <div class="col-6 text-center">
                          <input
                             id="casino"
                             name="casino"
                             class="casino opacity-0 yes-hover px-2 h-46 m-w mx-auto border border-secondary bg-white rounded text-secondary form-control text-center position-absolute"
                             data-parsley-required="true"
                             data-parsley-group="block-6"
                             type="radio"
                             value="yes"
                             required=""
                             >
                        <label for="casino" class="input-radio with-icn yes-hover border rounded pt-4 pb-2 cursor-p">
                          <div class="iconic-and-text">
                            <i class="fa fa-check-circle fs-45 icon-save-energy "></i>
                            <div class="mt-2">
                              <h4 class="mx-md-4 px-md-3 text-center">Yes</h4>
                            </div>
                            <i></i>
                          </div>
                        </label>
                       </div>
                       <div class="col-6 text-center">
                          <input
                             id="casinono"
                             name="casino"
                             class="casino opacity-0 no-hover px-2 h-46 m-w mx-auto border border-secondary bg-white rounded text-secondary form-control text-center position-absolute"
                             data-parsley-required="true"
                             data-parsley-group="block-6"
                             type="radio"
                             value="no"
                             required=""
                            >
                          <label for="casinono" class="input-radio with-icn yes-hover border rounded pt-4 pb-2 cursor-p">
                            <div class="iconic-and-text">
                              <i class="fa fa-check-circle fs-45 icon-save-energy "></i>
                              <div class="mt-2">
                                <h4 class="mx-md-4 px-md-3 text-center">No</h4>
                              </div>
                              <i></i>
                            </div>
                          </label>
                       </div>
                    </div>
                 </div>
              </div>
            </div>
            <div class="row justify-content-center mt-3">
              <div class="col px-0">
                 <h4 class="text-center mb-4">A Free Credit Report?</h4>
                 <div class="form-group col-lg-7  col-sm-7 col-12 mx-auto">
                    <div class="row w-100 m-0 justify-content-around">
                       <div class="col-6 text-center">
                          <input
                             id="free-credit"
                             name="free-credit"
                             class="free-credit opacity-0 yes-hover px-2 h-46 m-w mx-auto border border-secondary bg-white rounded text-secondary form-control text-center position-absolute"
                             data-parsley-required="true"
                             data-parsley-group="block-6"
                             type="radio"
                             value="yes"
                             required=""
                            >
                          <label for="free-credit" class="input-radio with-icn yes-hover border rounded pt-4 pb-2 cursor-p">
                            <div class="iconic-and-text">
                              <i class="fa fa-check-circle fs-45 icon-save-energy "></i>
                              <div class="mt-2">
                                <h4 class="mx-md-4 px-md-3 text-center">Yes</h4>
                              </div>
                              <i></i>
                            </div>
                          </label>
                       </div>
                       <div class="col-6 text-center">
                          <input
                             id="free-creditno"
                             name="free-credit"
                             class="free-credit opacity-0 no-hover px-2 h-46 m-w mx-auto border border-secondary bg-white rounded text-secondary form-control text-center position-absolute"
                             data-parsley-required="true"
                             data-parsley-group="block-6"
                             type="radio"
                             value="no"
                             required=""
                             >
                          <label for="free-creditno" class="input-radio with-icn yes-hover border rounded pt-4 pb-2 cursor-p">
                            <div class="iconic-and-text">
                              <i class="fa fa-check-circle fs-45 icon-save-energy "></i>
                              <div class="mt-2">
                                <h4 class="mx-md-4 px-md-3 text-center">No</h4>
                              </div>
                              <i></i>
                            </div>
                          </label>
                       </div>
                    </div>
                 </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-sm-7  col-12 btn-div justify-content-center">
            <div class="row justify-content-center">
              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <button id="btn-back" type="button"class="btn btn-primary btn-lg o-btn">Back</button>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-center">
                <i class="lodr but_loader display-none position-absolute">
                  <%= image_tag("button-ajax-loader.gif") %>
                </i>
                <button id="btn-continue" type="button" class="btn btn-success btn-lg o-btn nextStep" >Continue</button>
              </div>
            </div>
          </div>

          <div class="mt-2 text-center securityInfo">
            <ul>
              <%= image_tag("lock.png") %>
              <li>Safe</li>
              <li>Secure</li>
              <li>Privacy Protected</li>
            </ul>
          </div>
          <div id="byclick" class=" offset-lg-2 col-lg-8 text-center d-block">
            <p>By clicking accept, I agree to be contacted by MegaMobileDeals and its mobile
              <%= render 'layouts/common/tooltip_partners_step_form'%>
                via phone, SMS & email in accordance with these

                <a href="https://deals.megamobiledeals.com/terms-and-conditions/">Terms and conditions</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
