<!DOCTYPE html>
<html>
  <head>
    <!-- Anti-flicker snippet (recommended)  -->
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'GTM-NBQJ5ZD':true});</script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NBQJ5ZD');</script>
    <!-- End Google Tag Manager -->
    <link rel="icon" href="<%= asset_path('fav.png') %>" type="image/png" sizes="16x16">


    <meta charset="utf-8">
    <meta name="verification" content="86b2fe9b6e7cf609bef18ff078fa226c">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="4SJeEjGDdyF3YNV5CWaZ-xD6BhijWmjeBZNxjCdhfvc" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo:700&display=swap" rel="stylesheet">

    <% if params[:page_name] == "fb-phone-deals" || !@bc  %>
        <title>Buy Best Contract Phones | Network Sign Up Offers | Monthly Payments</title>
        <meta name="description" content="Get The UK's Best Deals On The Latest Smartphones! No upfront payments | Network Sign Up Offers | Huge Discounts">
    <% else %>
        <title>100% Approval Bad Credit Score Phones | Buy Best Contract Phones</title>
        <meta name="description" content="Bad credit phones are easily available. 100% approval for all credit score. You can buy on contract for bad credit. No upfront payment needed">
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <meta name="google-site-verification" content="4SJeEjGDdyF3YNV5CWaZ-xD6BhijWmjeBZNxjCdhfvc" />
    <meta name="yandex-verification" content="d561a7faddd03f1b" />
    <meta name="msvalidate.01" content="10F6693FCBAB65017796B78F86B7A770" />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBQJ5ZD"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= yield %>
  </body>
</html>
