<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="verification" content="86b2fe9b6e7cf609bef18ff078fa226c">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="4SJeEjGDdyF3YNV5CWaZ-xD6BhijWmjeBZNxjCdhfvc" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo:700&display=swap" rel="stylesheet">
    <title>100% Approval Bad Credit Score Phones | Buy Best Contract Phones</title>
     <meta name="description" content="Bad credit phones are easily available. 100% approval for all credit score. You can buy on contract for bad credit. No upfront payment needed">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= render @head_scripts %>
    <meta name="yandex-verification" content="d561a7faddd03f1b" />
    <meta name="msvalidate.01" content="10F6693FCBAB65017796B78F86B7A770" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
